[2016-12-27 00:00] D00Med commented on #1
The link doesn't work.
Ok

[2016-12-27 00:02] D00Med commented on #1
Done with the cactus, let me know what you think

[2016-12-27 00:02] tobyplowy commented on #1
@D00Med I fixed it give in another try

[2016-12-27 00:03] D00Med commented on #1
fixed what?

[2016-12-27 00:03] tobyplowy commented on #1
@D00Med the link

[2016-12-27 00:04] D00Med commented on #1
still doesn't work.

[2016-12-27 00:05] tobyplowy commented on #1
@D00Med https://forum.minetest.net/viewtopic.php?id=2207

[2016-12-27 00:07] tobyplowy commented on #1
@D00Med take a look at the papirus model used here data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxMTEhUTExMWFRUXGB0bFxgWGBgaGhgYGBgdFxobGB0YHSggGholHRgXIjEiJSkrLi4uFx8zODMtNygtLisBCgoKDg0OGxAQGy0mICUwMC0tLS0vLS0tLS8tLS0tLS4tLS8tLS0tLS0tLS0tLS8tLy0vLS0tLS0tLS0tLS0tLf/AABEIAMwA+AMBIgACEQEDEQH/xAAbAAAABwEAAAAAAAAAAAAAAAAAAgMEBQYHAf/EAD8QAAECBAQDBQYFAwIGAwAAAAECEQADITEEEkFRBWFxBhMigZEyob

[2016-12-27 00:08] D00Med commented on #1
problem?

[2016-12-27 00:08] tobyplowy commented on #1
Sorry Never mind it's not important Anyways XD

[2016-12-27 00:08] D00Med commented on #1
Haha ok then

[2016-12-27 00:08] WinkingBaby commented on #1
Just wanted to let you guys know me and Sam are going to be recording a bunch of songs tomorrow. The quality won't be the best, though. If you do like them we'll re-record them sometime in January when our recording equipment comes in. Anyways, feel free to pick and choose which ones you like whenever we send the files.

[2016-12-27 00:09] D00Med commented on #1
Ok great, thanks for letting us know.

[2016-12-27 00:09] tobyplowy commented on #1
@WinkingBaby Thanks for Letting Us Know

[2016-12-27 00:10] WinkingBaby commented on #1
No problem. Also would it be possible to have music play upon entering a village?

[2016-12-27 00:10] D00Med commented on #1
It should be

[2016-12-27 00:10] WinkingBaby commented on #1
Sam has a song he's been working on that he thinks would fit the village well.

[2016-12-27 00:12] tobyplowy commented on #1
@D00Med I'm now testing the cactus

@WinkingBaby great can't wait :)

[2016-12-27 00:13] D00Med commented on #1
@WinkingBaby Ok, great :D
@tobyplowy Ok. I don't think I can improve the papyrus so I will just leave it as it is.

[2016-12-27 00:14] tobyplowy commented on #1
@D00Med can I make a better water Lilly model

[2016-12-27 00:16] D00Med commented on #1
Sure :D

[2016-12-27 00:16] D00Med commented on #1
can you make it have a flower?

[2016-12-27 00:16] tobyplowy commented on #1
@D00Med some nice trees :D
![nice tree](https://cloud.githubusercontent.com/assets/16853304/21487745/175e0068-cbd2-11e6-8e8c-28842f3a5b17.png)

[2016-12-27 00:17] tobyplowy commented on #1
@D00Med

i was planing to do that yes

[2016-12-27 00:17] tobyplowy commented on #1
also cactus looks good

[2016-12-27 00:18] D00Med commented on #1
Wow that looks really nice!
I might have a go at adding those leaves to legend of minetest(I added the cactus), I have an idea for a texture that could be better and also more realistic ;)

[2016-12-27 00:20] tobyplowy commented on #1
@D00Med [oh you ](http://orig02.deviantart.net/6f60/f/2010/300/2/4/oh_you_by_doom1272-d31mb3c.jpg) XD

[2016-12-27 00:31] D00Med commented on #1
Do you know if it is possible to change the player stepheight?

[2016-12-27 00:32] tobyplowy commented on #1
@D00Med I have no idea wat stepheight even is so no

[2016-12-27 00:36] D00Med commented on #1
Ok. (stepheight is how high the player can move up without jumping, like with stairs).
The leaf thing didn't work too well. I was tried making a leaf texture that looked somewhat like the flowing water texture

[2016-12-27 00:39] tobyplowy commented on #1
@D00Med if you're trying to change the block hit box please don't do that it's good now

[2016-12-27 00:43] D00Med commented on #1
oh no I won't do that

[2016-12-27 00:46] D00Med commented on #1
Hmm, it would be good to have someone to test the performance.

[2016-12-27 00:48] tobyplowy commented on #1
water lilly is done
[water lilly.zip](https://github.com/D00Med/LegendofMinetest/files/673409/water.lilly.zip)

[2016-12-27 00:49] D00Med commented on #1
great, thanks :D

[2016-12-27 00:50] tobyplowy commented on #1
@D00Med in case your wondering I made the flower flat so it fits in with the mintest stile also it's more customizable

[2016-12-27 00:51] D00Med commented on #1
That's better

[2016-12-27 00:51] tobyplowy commented on #1
@D00Med yup

[2016-12-27 00:54] D00Med commented on #1
I'm going to have another attempt at the leaves.

[2016-12-27 00:55] tobyplowy commented on #1
@D00Med Texture or model?

[2016-12-27 01:00] D00Med commented on #1
texture

[2016-12-27 01:01] tobyplowy commented on #1
Lol

[2016-12-27 01:02] D00Med commented on #1
The model is 👌
Is this cartoony enough?
https://s23.postimg.org/pu1nu113v/screenshot_20161227_110156.png

[2016-12-27 01:04] tobyplowy commented on #1
@D00Med model? I dount see a model, the texture is nice but not 16x16 ;)

[2016-12-27 01:08] D00Med commented on #1
No I turned it off whilst I make the square bit of the texture (which I think is too cartoony by the way).
Yeah I tried it as a 16x16 texture, and it didn't look very good.

[2016-12-27 01:10] tobyplowy commented on #1
@D00Med for the 3d models mod can you add the custom leaf models for bushes?

[2016-12-27 01:11] D00Med commented on #1
Yes

[2016-12-27 01:12] tobyplowy commented on #1
@D00Med also I fucking love this mod and the trees look so nice thanks d00med!

[2016-12-27 01:19] D00Med commented on #1
Haha that's really great

[2016-12-27 01:20] D00Med commented on #1
hey should I make lily pads walkable?

[2016-12-27 01:21] D00Med commented on #1
also have you noticed the vines?

[2016-12-27 01:21] tobyplowy commented on #1
@D00Med i donno you can decide

[2016-12-27 01:21] tobyplowy commented on #1
vines? i guss thats a no

[2016-12-27 01:22] tobyplowy commented on #1
@D00Med also in mede a realistic brush tree
![waaaaaaaaaaaaaaaaaaaaaaaaaaat](https://cloud.githubusercontent.com/assets/16853304/21488086/3e603812-cbdb-11e6-8421-1a49b69713f8.png)

[2016-12-27 01:23] tobyplowy commented on #1
@D00Med It just looks so good 👌

[2016-12-27 01:23] D00Med commented on #1
Ok.
Alright, I added vines to jungles, they grow and can be climbed.
0.o wow that's cool!

[2016-12-27 01:24] tobyplowy commented on #1
@D00Med now get my custom trees in natural world gen XD

[2016-12-27 01:25] tobyplowy commented on #1
@D00Med your like NOPE!!

[2016-12-27 01:26] D00Med commented on #1
schematics?

[2016-12-27 01:27] tobyplowy commented on #1
yes

[2016-12-27 01:29] D00Med commented on #1
Ok then, well if you send me them I will re-write the mapgen to use them

[2016-12-27 01:30] D00Med commented on #1
I just saw this, it looks cool https://i.ytimg.com/vi/EZwOQl1xQtA/maxresdefault.jpg
But also odd how the leaves seem to appear out of nowhere

[2016-12-27 01:30] tobyplowy commented on #1
the schematics? are for the 3d mod not for the legend of minetest

[2016-12-27 01:31] tobyplowy commented on #1
@D00Med yest thats cool

[2016-12-27 01:32] tobyplowy commented on #1
@D00Med

but i dount like theat

[2016-12-27 01:34] tobyplowy commented on #1
@D00Med can you use this as stone texture ![default_stone](https://cloud.githubusercontent.com/assets/16853304/21488190/d5f9e1ea-cbdc-11e6-80e2-c571fd7996ae.png)

for the legend of minetest

[2016-12-27 01:37] tobyplowy commented on #1
@D00Med i made this issue so i dount have to go fo toppinc https://github.com/D00Med/nodebox_trees/issues/1

[2016-12-27 01:39] D00Med commented on #1
Oh sorry, you mean I should put the models into legend of minetest?
I am doing that now, I think I can get the overrides to only work if leaves are set to "fancy".
Yeah I might add an abm to make leaves fall at random times.
I will see what it looks like.
Ok good.

[2016-12-27 01:41] D00Med commented on #1
The stone is good

[2016-12-27 01:42] tobyplowy commented on #1
@D00Med

thats not what i ment but you can do it if you whant

[2016-12-27 01:42] tobyplowy commented on #1
thanks ;P

[2016-12-27 01:45] D00Med commented on #1
It works! I will make some of the leaves use the model
I'm thinking of making leaves so that the player can't walk on them, should I do that?

[2016-12-27 01:47] tobyplowy commented on #1
@D00Med your textures and my textures

 left is your textures
![grtyu](https://cloud.githubusercontent.com/assets/16853304/21488327/9b0e139c-cbde-11e6-9d13-6c07fcd392d9.png)

[2016-12-27 01:49] D00Med commented on #1
looks a lot like default to me?
I like the new water texture.

[2016-12-27 01:49] D00Med commented on #1
^as in the one I made

[2016-12-27 01:57] tobyplowy commented on #1
@D00Med

you mean like a gost block (being able to go thru them?)
im not shure ;/

[2016-12-27 02:04] tobyplowy commented on #1
@D00Med

my textures are verry difrent from defoult (but im trying to replicate the feeling of defoult) guss it worked XD

[2016-12-27 02:06] tobyplowy commented on #1
@D00Med also i will go to bed now see you later ;D

[2016-12-27 02:09] D00Med commented on #1
"you mean like a gost block" Yes.
Ok then.
Bye

[2016-12-27 08:28] WinkingBaby commented on #1
I know this is late, but a walkable lily pad would be nice. It's good for farming and such. Like having the lily pad over the source block.

[2016-12-27 08:32] D00Med commented on #1
Ok, they are now walkable.

[2016-12-27 08:36] WinkingBaby commented on #1
Forgot to mention a couple days ago. Toby showed me this sword that would allow you to change the sky to a dark like sky. Kind of like in twilight princess. Anyways, after turning it off it still felt kind of dark. Like the skybox changed but not the lighting. I'm going to check it out in singleplayer real quick.

[2016-12-27 08:39] D00Med commented on #1
sounds like you mean the twilight crystal?

[2016-12-27 08:40] D00Med commented on #1
There are problems with it in multiplayer, I haven't been able to fix them yet.

[2016-12-27 08:41] WinkingBaby commented on #1
Yeah. Maybe it was a problem with the server or something. It's not doing it now though. My eyes might have just been messing with me.

[2016-12-27 08:41] D00Med commented on #1
Yeah, I'll see if I can improve it.
Ok

[2016-12-27 08:44] WinkingBaby commented on #1
Alright so we're mainly going to be working on replacing a lot of the default ambiance music tomorrow as well as some boss songs. For the boss songs do you want us to set it up to where it can be looped depending on the duration of the boss fight?

[2016-12-27 08:53] D00Med commented on #1
Ok then. Yes please, that would be very helpful

[2016-12-27 08:57] WinkingBaby commented on #1
Alright, we'll keep that in mind. Are there any types of songs you want that aren't already in Ambiance? Like dungeon music or something?

[2016-12-27 09:07] D00Med commented on #1
Dungeon music would be good, and also music for the differrent weather.

[2016-12-27 09:08] WinkingBaby commented on #1
Maybe have slightly different versions of the songs depending on the weather? We were also thinking about having a darker version of each song for the shadow realm.

[2016-12-27 09:20] D00Med commented on #1
Yeah that would be easier

[2016-12-27 09:20] D00Med commented on #1
I'm going to bed now, so talk tomorrow maybe

[2016-12-27 09:23] WinkingBaby commented on #1
Night.

[2016-12-27 12:00] tobyplowy commented on #1
@WinkingBaby can the rain song be like this https://youtu.be/CexqCINa0Ro (at 1 minute is the good part)

[2016-12-27 20:12] tobyplowy commented on #1
@D00Med Any stuff I shuld do?

[2016-12-27 20:14] D00Med commented on #1
How is the darknut model going?

[2016-12-27 20:16] tobyplowy commented on #1
@D00Med I started work on it 3 hours ago

[2016-12-27 20:17] D00Med commented on #1
Ok, great.
I still haven't finished the wolfos.

[2016-12-27 20:23] tobyplowy commented on #1
@D00Med I will continue work on the darknut now

[2016-12-27 20:28] D00Med commented on #1
Ok, I'm working on the wolfos, and then I will finish texturing the goron

[2016-12-27 21:21] tobyplowy commented on #1
@D00Med hows the wolf going?

[2016-12-27 21:23] D00Med commented on #1
Nearly done, I'm just improving the texture

[2016-12-27 22:31] tobyplowy commented on #1
@D00Med I'm almost done

[2016-12-27 22:59] tobyplowy commented on #1
@D00Med darknut model is done
NOTE youl have to flip the legs and arms
also its baced on this http://zeldawiki.org/images/5/5b/TWW_Darknut.png

[darknut.zip](https://github.com/D00Med/LegendofMinetest/files/674743/darknut.zip)

[2016-12-28 00:01] tobyplowy commented on #1
@D00Med is the model good?

[2016-12-28 01:11] D00Med commented on #1
Yeah it looks great! :D I'm glad you did the texture for that one xD
And sorry I took so long to reply, I got distracted.

[2016-12-28 01:17] tobyplowy commented on #1
@D00Med distracted?

[2016-12-28 01:20] tobyplowy commented on #1
@D00Med can I do more stuff

[2016-12-28 01:23] tobyplowy commented on #1
@D00Med that last comment are signs of me getting tired XD

But I fixed it

[2016-12-28 01:26] D00Med commented on #1
It turns out a game of monopoly can last a loooong time 😇
Anyway, I'll put the wolfos into the game then finish the darknut.
Hmm I don't know, are there any minor tweaks that would make the game better?

[2016-12-28 01:29] tobyplowy commented on #1
@D00Med I think you should make a server so that we can Play Together on it to test Survival gameplay ( and to see what could improve)

[2016-12-28 01:30] tobyplowy commented on #1
@D00Med I know a game of Monopoly can take a while D:

[2016-12-28 01:33] D00Med commented on #1
That would really be great, but I don't have enough data for that 😪

[2016-12-28 01:39] tobyplowy commented on #1
@D00Med can you make a new texture for quartz so it looks like the interior of the Temple of Time

[2016-12-28 01:40] tobyplowy commented on #1
@D00Med also the masks still need to be added

[2016-12-28 01:41] D00Med commented on #1
Ok then, I thought you were making quartz textures?
Anyway yeah I'll do it. Yeah I haven't forgotten about that.

[2016-12-28 01:42] tobyplowy commented on #1
@D00Med also can you add gibdos they are re textures of the redead (I can do the textures)

[2016-12-28 01:43] D00Med commented on #1
Yes I can do that. I was going to make a model for them(I don't really like the player model)

[2016-12-28 01:44] tobyplowy commented on #1
@D00Med yes I was going to do the quartz textures but the problem is that I am having trouble making it look like quartz ( I'm Not So Good at Minecraft/minetest Style textures)

[2016-12-28 01:45] tobyplowy commented on #1
@D00Med but what model? Something Like A normal player but with less thik Arms?

[2016-12-28 01:49] D00Med commented on #1
Ok then, well it's no problem, I think I'd rather do them myself anyway.
Yeah, or with multiple cubes for the head

[2016-12-28 01:51] tobyplowy commented on #1
@D00Med shuld i make textures For The Masks?

[2016-12-28 01:53] D00Med commented on #1
Not yet, I might make models for them(if I can get them to attach properly)

[2016-12-28 01:57] tobyplowy commented on #1
@D00Med wat shuld I do then?

[2016-12-28 02:00] D00Med commented on #1
erm...actually yeah mask textures would be good :)
I just remembered that the facehugger didn't work properly

[2016-12-28 02:01] tobyplowy commented on #1
@D00Med I know I can make a model for this ting http://zeldawiki.org/Tektite

[2016-12-28 02:13] D00Med commented on #1
Could you shade the model textures in future? as in each face being darker.
They should be like this in order of brightest to darkest: top, front, sides, back, bottom.
I understand that that is the look of wind waker, but it is not consistent with the rest of the game

[2016-12-28 03:09] D00Med commented on #1
oops, missed this. That would be really great

[2016-12-28 03:13] D00Med commented on #1
Also if you make a tektite, could you make it look like this?
http://zeldawiki.org/images/b/b1/Blue_Tektite.png

[2016-12-28 06:18] WinkingBaby commented on #1
Hey are you planning to add multiple village types in?

[2016-12-28 06:19] D00Med commented on #1
I'm not sure, maybe.

[2016-12-28 06:21] WinkingBaby commented on #1
We didn't get to record today because I slept for way too long.  Anyways, Sam still worked on some songs.

[2016-12-28 06:35] D00Med commented on #1
Ok, that's fine. That's good.
I didn't get a lot done either, apart from some new mobs

[2016-12-28 08:13] D00Med commented on #1
@tobyplowy  I've added my vehicles mod, and the horse as a test, but there are problems with where the player is attached. Could you make a new horse model? If you do, can you make it so that there is a player model riding it?
Edit: nevermind, I will use this for the horse: https://forum.minetest.net/viewtopic.php?f=9&t=16032

[2016-12-28 12:53] tobyplowy commented on #1
@D00Med I Found A Little way to get Infinite rupees ( if you break anything that gives you rupees you get the original block back and you get rupees now Just Place The Block on the ground again and do it over you have an infinite supply of rupees

[2016-12-28 13:10] tobyplowy commented on #1
@D00Med the darknuts left shoulder is invisible

[2016-12-28 13:47] tobyplowy commented on #1
@D00Med
[deku mask.zip](https://github.com/D00Med/LegendofMinetest/files/675636/deku.mask.zip)

[2016-12-28 13:53] tobyplowy commented on #1
@D00Med
[redead mask.zip](https://github.com/D00Med/LegendofMinetest/files/675646/redead.mask.zip)

[2016-12-28 15:43] tobyplowy commented on #1
@D00Med taktite model is done
[taktite.zip](https://github.com/D00Med/LegendofMinetest/files/675781/taktite.zip)

[2016-12-28 15:56] tobyplowy commented on #1
@D00Med alternative taktite skin
![taktite](https://cloud.githubusercontent.com/assets/16853304/21525586/848bd802-cd1e-11e6-87c1-931581414f3e.png)

[2016-12-28 20:31] D00Med commented on #1
The masks look great! I really hope I can get them to attach properly

[2016-12-28 20:35] tobyplowy commented on #1
@D00Med also I think you should remove the 3d leafs from the legend of minetest because it makes quite a lot of extra leg and a lot of people who will play this will be children and they usually don't have a amazing computer

[2016-12-28 20:38] D00Med commented on #1
I will have to test the lag, but yes you are right, I will make a setting to disable it

[2016-12-28 20:41] tobyplowy commented on #1
@D00Med Also is the taktite good?

[2016-12-28 20:42] D00Med commented on #1
Yeah, really nice. Still no shading on the texture faces though

[2016-12-28 20:45] tobyplowy commented on #1
@D00Med I Don't really understand what your trying to say ( I made all faces on the bottom of the model darker Isent that good?)

[2016-12-28 20:46] D00Med commented on #1
Yeah that's good, but there's still the sides and top (which I have fixed by the way)

[2016-12-28 20:47] tobyplowy commented on #1
@D00Med sorry ( I will Put A highlight on the top next time)

[2016-12-28 20:47] tobyplowy commented on #1
@D00Med or shuld I fix it?

[2016-12-28 20:53] D00Med commented on #1
No no all good. it's fairly easy to fix

[2016-12-28 20:54] tobyplowy commented on #1
@D00Med I'm going to make a texture for the gibdo

[2016-12-28 20:56] D00Med commented on #1
ok

[2016-12-28 21:16] tobyplowy commented on #1
I'm almost done with the gibdo texture

[2016-12-28 21:22] tobyplowy commented on #1
@D00Med is there more stuff I can do

[2016-12-28 21:24] tobyplowy commented on #1
@D00Med gibdo texture is done
![gibdo](https://cloud.githubusercontent.com/assets/16853304/21531985/64b2d674-cd4c-11e6-9d65-d6e4090eb269.png)

[2016-12-28 21:27] D00Med commented on #1
ok thanks.
umm could you make a dungeon?

[2016-12-28 21:27] tobyplowy commented on #1
@D00Med a complete dungeon?

[2016-12-28 21:31] tobyplowy commented on #1
@D00Med also can you rename the giant octorock to big octorock?

[2016-12-28 21:32] tobyplowy commented on #1
@D00Med Do I have to make a complete dungoen or just parts?

[2016-12-28 21:33] tobyplowy commented on #1
@D00Med Also the peahat may need a bigger hitbox

[2016-12-28 21:35] D00Med commented on #1
yeah, but only if you want.
Ok then.
a complete one, it's easier to place.
Yeah I will fix that

[2016-12-28 21:37] tobyplowy commented on #1
@D00Med ok i will get on it riht away

[2016-12-28 21:38] D00Med commented on #1
cool, thanks

[2016-12-28 21:50] tobyplowy commented on #1
@D00Med I wass thinking about something

You Know What would be cool If You Go To The Village And you get The wooden sword there from a npc and It can give you a text popup and reference To This https://en.m.wikipedia.org/wiki/It's_dangerous_to_go_alone!

[2016-12-28 21:55] D00Med commented on #1
I was thinking of doing that 😂

[2016-12-28 21:56] tobyplowy commented on #1
@D00Med it would be nice XD

[2016-12-28 21:57] D00Med commented on #1
I was thinking that they could also direct the player to the first dungeon

[2016-12-28 21:59] tobyplowy commented on #1
@D00Med Yes I like that

[2016-12-28 22:03] tobyplowy commented on #1
@D00Med can air be replaced by natural materials for the Dungeon ( Only on the outside the inside shuld be empty)

[2016-12-28 22:04] D00Med commented on #1
I'm not that good with schematics sorry

[2016-12-28 22:05] tobyplowy commented on #1
@D00Med so i have to make the Stone Myself yes

[2016-12-28 22:07] D00Med commented on #1
yes

[2016-12-28 22:08] tobyplowy commented on #1
@D00Med ok

[2016-12-28 22:08] D00Med commented on #1
or leave it and I will do it with worldedit

[2016-12-28 22:09] tobyplowy commented on #1
@D00Med chest loot randomly genarates right ( I just have to place a chest that's all yes?)

[2016-12-28 22:13] tobyplowy commented on #1
@D00Med can you also make buried ruppes less common

[2016-12-28 22:13] WinkingBaby commented on #1
Sam is over now. We're about to record.

[2016-12-28 22:15] tobyplowy commented on #1
Ok I'm comming

[2016-12-28 22:22] D00Med commented on #1
@tobyplowy  yes that's easy to set, just put down a dungeon treasure chest not the regular kind.
Yes I will

[2016-12-28 22:41] tobyplowy commented on #1
@D00Med what are you working on right now?

[2016-12-28 22:47] tobyplowy commented on #1
@D00Med also can you add a ruppe block abit like a gold block (to craft it you need to put 9 rupees of the respective color in the grid)

[2016-12-28 22:50] D00Med commented on #1
Nothing, I'm just starting now. I've got to fix the dungeon chests, they're not working for some reason
That'd be cool, and another use for rupees is good.

[2016-12-28 22:54] tobyplowy commented on #1
@D00Med can you rename the blue and purple dungeon bricks so theres retro in front of the name also can you add a retro dungeon door normal and key dungeon door and a new retro dungeon key

( I probably broke the world record by saying so much dungeon XD)

[2016-12-28 22:55] tobyplowy commented on #1
@D00Med also I wanna do the texture for the ruppe block

[2016-12-28 22:57] D00Med commented on #1
retro or classic?
I will make the key door, but not the key, that seems a bit un-necesarry.
Ok sure.

[2016-12-28 23:00] tobyplowy commented on #1
@D00Med if the dungeon doesent Get Its own Key It Could Be used in other Dungeons and That's quite problematiek (it makes keys cheap and easy to use aka OP)

[2016-12-28 23:01] tobyplowy commented on #1
@D00Med I think retro Sounds Better

[2016-12-28 23:06] D00Med commented on #1
I don't really see that as a problem... :]
Ok then.
Also with your models, y+ is the front, not x+

[2016-12-28 23:07] tobyplowy commented on #1
@D00Med I have a question I want chests to appear randomly is that possible (someting like I place 6 chests in the schematic and Because of world Generation only 3 or 2 can get generated)

[2016-12-28 23:09] tobyplowy commented on #1
@D00Med if in blender what direction is the correct one? ( I always use the move tool and look at which direction the red arrow is pointing is the red arrow the correct derection?)

[2016-12-28 23:12] D00Med commented on #1
The short answer is no, it is not possible.
The green arrow points to what will be the front in minetest.

[2016-12-28 23:14] tobyplowy commented on #1
@D00Med that sucks so the mimics can't be randomised as well

Also I Will try to remember it

[2016-12-28 23:16] tobyplowy commented on #1
@D00Med also can you make the dungeon door slide up ( a bit like your sci-fi doors)

[2016-12-28 23:19] tobyplowy commented on #1
@D00Med is it Possible to set the commones of items in chests so you could have some really common items and really uncommon items

[2016-12-28 23:25] D00Med commented on #1
It might be possible for the mimics, since their placement isn't so specific (so it could be any random block within a certain area). Yeah I could do that, that's why I haven't made the sliding one yet.
Yes I think so. The dungeon chests can have the item they contain set quite easily, so when a specific dungeon is placed, a specific item can be inside a chest. So if one dungeon requires or is mad

[2016-12-28 23:28] tobyplowy commented on #1
@D00Med thanks :D

[2016-12-28 23:31] tobyplowy commented on #1
@D00Med I know these questions Might be annoying but, is it Possible to genarate certain dungeons at certain Heights also is it Possible to change the loot depending on the depth (the deeper you get the more useful The loot gets)

[2016-12-28 23:32] tobyplowy commented on #1
@D00Med also that was the last question :)

[2016-12-28 23:36] D00Med commented on #1
Yes, both are possible

[2016-12-28 23:43] tobyplowy commented on #1
@D00Med retro dungion is done

[retro dungion.zip](https://github.com/D00Med/LegendofMinetest/files/676415/retro.dungion.zip)

[2016-12-28 23:45] tobyplowy commented on #1
@D00Med notes the chests shuld be randomly replaced with mimics and this Dungeon shuld Spawn really low Underground

[2016-12-28 23:49] D00Med commented on #1
Yep, I will work on them soon.
It's nice to have so many new mobs in the game, they look good

[2016-12-28 23:52] tobyplowy commented on #1
@D00Med yeah this subgame is really awesome it's the best in my opinion. And that all tanks to you :)

[2016-12-28 23:53] D00Med commented on #1
Thanks, and thanks for all your help too, it wouldn't be as good without it

[2016-12-28 23:55] tobyplowy commented on #1
@D00Med Thanks I'm happy to help :)

[2016-12-28 23:58] D00Med commented on #1
Ok, I just found a schematic I had made for hyrule castle, and tried to place it instead of a village.
The result was interesting :'D https://s28.postimg.org/osv9d0pyl/screenshot_20161229_095545.png
This is why big schematics don't work(and they actually wouldn't work at all in older versions)
Also, look at those waterfalls https://s24.postimg.org/mcfph5vj9/screenshot_20161229_095518.png :)

[2016-12-29 00:01] D00Med commented on #1
Wow, works pretty well for flat mapgen: https://s27.postimg.org/ln3yby0bn/screenshot_20161229_100051.png
It used to crash in 0.4.13

[2016-12-29 00:01] tobyplowy commented on #1
@D00Med the castle is nice the world generation is crap XD

[2016-12-29 00:11] D00Med commented on #1
I have to come up with a better way to detect waterfalls, the waterfall effect is slowing down the game :(

[2016-12-29 00:18] tobyplowy commented on #1
@D00Med yeh it is

[2016-12-29 00:18] D00Med commented on #1
Ok, I think I've fixed it.

[2016-12-29 00:22] D00Med commented on #1
It'd be nice to have some very very very secret things in the game

[2016-12-29 00:27] tobyplowy commented on #1
@D00Med

Yes true but what?

[2016-12-29 00:27] tobyplowy commented on #1
@D00Med is this a good texture for the ruppy block?
![ruppy block](https://cloud.githubusercontent.com/assets/16853304/21534339/c04ab718-cd65-11e6-96c4-bbd2272e007b.png)

[2016-12-29 00:29] tobyplowy commented on #1
@D00Med

like a game boy XD
![gameboy](https://cloud.githubusercontent.com/assets/16853304/21534370/36b7508c-cd66-11e6-8a48-d3f28f5170ff.png)

[2016-12-29 00:41] D00Med commented on #1
Yep that texture looks really good.
Would it be better to make the above ground items spawn when an item is placed? that way they could be given out by npcs, and they could be placed somewhere flat?

[2016-12-29 00:43] tobyplowy commented on #1
I Don't really understand what you're trying to say with that sorry :/

[2016-12-29 00:45] tobyplowy commented on #1
@D00Med also can you get the Trees fixed in the nodebox mod before tomorrow?

[2016-12-29 00:47] D00Med commented on #1
I mean they can be placed....like a massive node.
Trees fixed?

[2016-12-29 00:48] D00Med commented on #1
Ok, the trees are fixed(hopefully)

[2016-12-29 00:50] tobyplowy commented on #1
@D00Med I mean they can be placed....like a massive node.

As in you click with an item That makes a structure apear

Trees fixed?
These trees https://github.com/D00Med/nodebox_trees

[2016-12-29 00:53] D00Med commented on #1
Yes that's it.
Ok, I have uploaded a potential fix

[2016-12-29 00:58] tobyplowy commented on #1
@D00Med I Don't really like the whole item Spawn structure ting

[2016-12-29 00:59] tobyplowy commented on #1
@D00Med in my opinion it ruens Exploration Why would you Go away from your house/bace If There Is Nothing to find ( Nothing interesting) also of it feels really Artificial Doing It Like That

[2016-12-29 01:01] WinkingBaby commented on #1
How's the dungeon coming, Toby?

[2016-12-29 01:04] tobyplowy commented on #1
@WinkingBaby My Job is done now it's All up to d00med

[2016-12-29 01:06] WinkingBaby commented on #1
We're working on this one song, and it's sounding really dank.

[2016-12-29 01:08] tobyplowy commented on #1
@WinkingBaby great I can't wait to hear it when it's done :)

[2016-12-29 01:09] D00Med commented on #1
@tobyplowy  Yeah that's true, but then there's the problem of the dungeons spawning inside mountains or floating above ground. Also I'm going to try and put the dungeons in now.
@WinkingBaby That's great

[2016-12-29 01:14] tobyplowy commented on #1
@D00Med please take a look at https://github.com/D00Med/nodebox_trees/issues/1

[2016-12-29 01:16] D00Med commented on #1
sorry, missed that

[2016-12-29 01:24] D00Med commented on #1
I got the dungeons to work! Now I just need to come up with a random contents, and a better table of chest items

[2016-12-29 01:26] tobyplowy commented on #1
@D00Med you're probably already going to do this but please make sure rupees are in the table

[2016-12-29 01:27] D00Med commented on #1
Yes of course

[2016-12-29 01:29] tobyplowy commented on #1
@D00Med is there anything else I can do

[2016-12-29 01:36] D00Med commented on #1
umm not sure, any ideas for new dungeon traps?

[2016-12-29 01:44] D00Med commented on #1
The dungeons have been added to the unstable

[2016-12-29 01:48] tobyplowy commented on #1
@D00Med will test now

[2016-12-29 01:54] tobyplowy commented on #1
@D00Med i have nice music made by sam and noah for the village
[Villageforest.zip](https://github.com/D00Med/LegendofMinetest/files/676487/Villageforest.zip)

[2016-12-29 02:05] D00Med commented on #1
Wow, that's really good! I like it.

[2016-12-29 02:06] tobyplowy commented on #1
@D00Med I know right this Sam guy is ridiculously talented!

[2016-12-29 02:08] D00Med commented on #1
yeah

[2016-12-29 02:10] D00Med commented on #1
Hey do you want your contact details(email or github link or something) in the license?

[2016-12-29 02:11] tobyplowy commented on #1
@D00Med im going to ask them

[2016-12-29 02:13] D00Med commented on #1
Ok, I actually meant for your textures and models, but that's still good

[2016-12-29 02:14] tobyplowy commented on #1
@D00Med oh it was for me

[2016-12-29 02:16] tobyplowy commented on #1
For Sam (the guy who made the music) just put Sam then his sound cloud. Like this: Sam Labbato https://soundcloud.com/sam-labbato

[2016-12-29 02:17] tobyplowy commented on #1
@D00Med for me credit me as toby109tt aka tobyplowy

[2016-12-29 02:19] tobyplowy commented on #1
@D00Med and for Noah The Guy Who has a YouTube channel and will probably advertise our game XD
No but seriously because of him I know The Guy Who makes the music
For him do: Noah K. https://www.youtube.com/channel/UCu8MTAFrihYO9PxKm-pk_xw

[2016-12-29 02:27] D00Med commented on #1
Ok, I will do that.
Also what license? just CC BY-SA 3.0 like the textures and models?

[2016-12-29 02:36] tobyplowy commented on #1
@D00Med i found a realy nice village XD

![naamffffloos](https://cloud.githubusercontent.com/assets/16853304/21535620/e63b7bd0-cd77-11e6-8bf0-f832b8642478.png)

[2016-12-29 02:37] tobyplowy commented on #1
@D00Med CC BY-SA 3.0 does that stand for do what you whant if so yes

[2016-12-29 02:39] tobyplowy commented on #1
@D00Med on what level do dungioens genarate

[2016-12-29 02:39] D00Med commented on #1
That sucks about the village, not sure what can be done about it.
https://en.wikipedia.org/wiki/Creative_Commons_license
Retro Dungeons start at -500

[2016-12-29 02:39] WinkingBaby commented on #1
Also I would recommend adding different type of villages for different biomes. Maybe just remove the dirt from the schematics and just use the dirt of the specific biome for it.

[2016-12-29 02:40] D00Med commented on #1
^I'm working on that now

[2016-12-29 02:40] WinkingBaby commented on #1
Would tree villages be possible?

[2016-12-29 02:41] tobyplowy commented on #1
yes it is possible @D00Med what do you think?

[2016-12-29 02:42] D00Med commented on #1
Lol are you psychic? that's what I'm doing now

[2016-12-29 02:42] D00Med commented on #1
Also I've improved the jungle vines. They were causing a lot of lag

[2016-12-29 02:51] tobyplowy commented on #1
@D00Med thats nice

[2016-12-29 02:58] tobyplowy commented on #1
@D00Med Can you improve The moving animation for the mimic instead of sliding on the floor can you make him hop (small hops)

Also If there is no player around For Too Long he should Turn Back Into a Block

[2016-12-29 02:58] D00Med commented on #1
Yes I can do that.

[2016-12-29 02:58] tobyplowy commented on #1
@D00Med nice

[2016-12-29 03:00] tobyplowy commented on #1
@D00Med chests in Dungeons Don't seem to be randomized also Thers one chest that doesn't work

[2016-12-29 03:01] tobyplowy commented on #1
@D00Med also dungeon keys shuld be loot in a chest not a drop from clicking chist

[2016-12-29 03:08] tobyplowy commented on #1
@D00Med better defoult_stone
![stone](https://cloud.githubusercontent.com/assets/16853304/21535932/5ca8aa14-cd7c-11e6-928d-363f84852394.png)

there was a anoying line in the texture its fixed now :D

[2016-12-29 03:16] tobyplowy commented on #1
@D00Med this may be stupid but can you add the gameboy as super ultra rare loot
![gameboy](https://cloud.githubusercontent.com/assets/16853304/21536030/86640f96-cd7d-11e6-9f96-3e666717bdd5.png)

[2016-12-29 03:17] D00Med commented on #1
They aren't randomised yet. There is one random mimic though.
Yeah well, that's just the way I'm doing it.
Ok thanks. Haha yep, I already added it as a craftitem (hyruletools:gameboy)

[2016-12-29 03:18] tobyplowy commented on #1
@D00Med

true forgot to say that

[2016-12-29 03:20] tobyplowy commented on #1
@D00Med i just found hyrule_mapgen_leaves.png im hiped!!!

[2016-12-29 03:31] tobyplowy commented on #1
better hyruletools_paper
![hyruletools_paper](https://cloud.githubusercontent.com/assets/16853304/21536191/9ba14746-cd7f-11e6-88df-e7f884609eb5.png)

[2016-12-29 03:32] D00Med commented on #1
Haha yeah, future plans

[2016-12-29 03:32] D00Med commented on #1
thanks for the paper

[2016-12-29 03:34] tobyplowy commented on #1
@D00Med no problem I have to go now see you later

[2016-12-29 03:34] D00Med commented on #1
ok then, bye

[2016-12-29 03:35] tobyplowy commented on #1
@D00Med I was also Thinking to improve the letter gui and book gui also how is the progress going on the tabed inventory?

[2016-12-29 03:44] D00Med commented on #1
Not really going at all sorry. I will try to update the inventory mod to a newer one, then if I can get an armor tab to work, I will try to make the inventory you suggested

[2016-12-29 04:17] D00Med commented on #1
Has anyone seen a conifer biome lately?
https://s28.postimg.org/5vq96u1st/screenshot_20161229_141514.png
This seems to be a very very big problem

[2016-12-29 04:18] WinkingBaby commented on #1
We just finished a boss theme by the name of Brass Fleece. Feedback would be nice. ;)
https://soundcloud.com/sam-labbato/brass-fleece

[2016-12-29 04:27] D00Med commented on #1
Sounds good to me :)

[2016-12-29 04:47] WinkingBaby commented on #1
Great!

[2016-12-29 06:43] WinkingBaby commented on #1
Also, when we're done with all the songs are you okay with us uploading the music to the forums?

[2016-12-29 06:49] D00Med commented on #1
Sure, but I'd prefer it if you'd wait until after I put it into the game and finish the next version.
Of course it's all up to you and Sam.

[2016-12-29 06:53] WinkingBaby commented on #1
We'll wait till it's in it's next version.

[2016-12-29 06:54] WinkingBaby commented on #1
Also, I might have you another modeler btw.

[2016-12-29 07:02] D00Med commented on #1
Ok thanks.
Oh cool :D

[2016-12-29 07:49] Mastersyfodiaz commented on #1
Hey, I am the said modeler

[2016-12-29 08:04] D00Med commented on #1
Hello. Can you show me an example of your work?

[2016-12-29 08:20] Mastersyfodiaz commented on #1
![facesculptflat](https://cloud.githubusercontent.com/assets/24822287/21539531/5388db70-cd6d-11e6-8ca4-43d07c8c5827.JPG)

[2016-12-29 08:22] Mastersyfodiaz commented on #1
My first sculpt, I'll send a touched up one. I also have a Minetest model I made for Noah, and mapped

[2016-12-29 08:23] Mastersyfodiaz commented on #1
![demon](https://cloud.githubusercontent.com/assets/24822287/21539583/d536e8a6-cd6d-11e6-97ab-67e294135586.png)

[2016-12-29 08:24] D00Med commented on #1
O.o wow, that's cool! Looks way better than my first sculpt(which was a weird blob).
I do have to point out though, both Toby and I already make and have made models, but there are still things to do if you'd like to help out.

[2016-12-29 08:27] Mastersyfodiaz commented on #1
![loz hype](https://cloud.githubusercontent.com/assets/24822287/21539612/261a7e72-cd6e-11e6-91af-e2674a866057.png)
Anything you need, just say the word. I have another job and school, but I'll help where I can.

[2016-12-29 08:29] Mastersyfodiaz commented on #1
![wolfie](https://cloud.githubusercontent.com/assets/24822287/21539676/a33371a2-cd6e-11e6-8102-bb34bf8ee4e9.png)
The model Noah commissioned

[2016-12-29 08:32] D00Med commented on #1
Wow, you're good.
Ok then, well I guess I should give you something to start off with.
Could you make a model of a zora? http://vignette2.wikia.nocookie.net/zelda/images/d/d3/MM_Zora.png/revision/latest?cb=20120914182945&path-prefix=es
Have you played the subgame(the unstable)?

[2016-12-29 08:33] D00Med commented on #1
Also feel free to make suggestions for the game.

[2016-12-29 08:33] Mastersyfodiaz commented on #1
I haven't yet. I'll get to the model right away. I'm waiting to play it with Noah whenever we decide to

[2016-12-29 08:38] D00Med commented on #1
Ok then. I'd recommend doing so before starting the model, just to get a look at the style of the game and the models for the mobs. There are still some old models that don't use cubes/rectangular-prisms, but they will be removed.

[2016-12-29 08:47] WinkingBaby commented on #1
How do you feel about slants by the way? Like do you want the models purely cubic or is it okay to have some slants on the model?

[2016-12-29 08:49] D00Med commented on #1
Hmm, none of the models have slants(except the old ones), so I guess any new models shouldn't either.
I think it would probably be ok to use slants a little bit, but because we are now using such small textures it's probably a bad idea.

[2016-12-29 08:51] WinkingBaby commented on #1
Like for the head tail? Should it have a slant?

[2016-12-29 08:51] WinkingBaby commented on #1
Also, should we open up different issues for different topics? I feel like it would be easier for navigational reasons and such.

[2016-12-29 08:55] D00Med commented on #1
Would you agree that it would be best to make that bit out of a flat plane rather than a cube?
maybe with a little cube extending out of the head for a bit?
We could do that, but there are quite a lot of them.

[2016-12-29 08:58] Mastersyfodiaz commented on #1
I mean, I can do that, but I don't think that's the right course of action. However, the alternative looks like a pony tail, so whichever

[2016-12-29 08:58] WinkingBaby commented on #1
I just find it hard to navigate with so many posts here. I think it would be easier if we had issues for Music, Models/Textures, and suggestions/other.

[2016-12-29 09:03] D00Med commented on #1
Ok, well try whichever you feel is better, and we can change it afterwards if it doesn't work out.
Ok, I will make some new issues for each of those

[2016-12-29 09:04] D00Med opened #3 "Music and Sounds"

[2016-12-29 09:04] D00Med opened #4 "Other suggestions or improvements"

[2016-12-29 09:13] D00Med commented on #1
@tobyplowy I messed up changing the size of the deku flower, the changes I made before actually did nothing. I will have to change the model.

[2016-12-29 09:15] Mastersyfodiaz commented on #1
![zora](https://cloud.githubusercontent.com/assets/24822287/21540492/09c9cc26-cd75-11e6-9de8-ea4b9289812a.png)
![zoraback](https://cloud.githubusercontent.com/assets/24822287/21540490/0974c42e-cd75-11e6-8e9e-a3be2483bd71.png)

[2016-12-29 09:18] D00Med commented on #1
Looks really nice!
Could you make it a little taller?
Also, it would be better to use planes for the arm-fins. The head tail looks good though.
A small plane through the last cube would be good.

[2016-12-29 09:18] D00Med commented on #1
Also sorry if I seem picky

[2016-12-29 09:20] D00Med commented on #4
@tobyplowy Should I remove the hell mod?
It didn't work out too well I think. Now that I've got placing schematics worked out it could be a lot better though. I could add dungeons and villages. Oh and for some reason the subrosians don't seem to spawn.

[2016-12-29 09:27] Mastersyfodiaz commented on #1
![zorabackflat](https://cloud.githubusercontent.com/assets/24822287/21540704/b13e5fa2-cd76-11e6-9e2b-6f18c1c3cca6.png)

[2016-12-29 09:28] D00Med commented on #1
That looks really good now

[2016-12-29 09:28] D00Med commented on #1
Although, the head is a little big, does it look like it is from the front?

[2016-12-29 09:29] Mastersyfodiaz commented on #1
The scale was messed up when I was making it taller

[2016-12-29 09:30] Mastersyfodiaz commented on #1
![zoraflat](https://cloud.githubusercontent.com/assets/24822287/21540756/23421b5c-cd77-11e6-8d75-0968f5dfd34d.png)

[2016-12-29 09:31] D00Med commented on #1
Oh ok, I see what you mean. Still, it looks great.
Do you know how to animate models?

[2016-12-29 09:32] Mastersyfodiaz commented on #1
hahaha

[2016-12-29 09:32] Mastersyfodiaz commented on #1
No.

[2016-12-29 09:34] D00Med commented on #1
Oh ok then, if you send me the blender file I will animate and/or texture it.
But I will have to do it tomorrow because I'm going to bed now.
bye.

[2016-12-29 09:37] Mastersyfodiaz commented on #1
[Zora.zip](https://github.com/D00Med/LegendofMinetest/files/676877/Zora.zip)

[2016-12-29 12:31] tobyplowy commented on #1
@Mastersyfodiaz hi I'm toby

[2016-12-29 12:32] tobyplowy commented on #1
@Mastersyfodiaz your model is amazing but it's a little bit fat XD

[2016-12-29 12:38] tobyplowy commented on #4
@D00Med yeh mayby

[2016-12-29 12:49] tobyplowy commented on #1
@Mastersyfodiaz it seems your model is not made out of pure cubes and panels ( please only use cubes and panels do not extrude) also Keep the cubes perfect Cubes

[2016-12-29 15:53] tobyplowy commented on #1
@D00Med
for noah the fag
[lol.zip](https://github.com/D00Med/LegendofMinetest/files/677417/lol.zip)

[2016-12-29 20:23] D00Med commented on #1
perfect cubes as in the same dimensions on every side? It's ok to have different dimensions, as long as the faces aren't split. I'm improving the model now.

[2016-12-29 20:29] tobyplowy commented on #1
@D00Med with perfect Cube I mean something that resembles a cube so don't cut it in half or bend it ( or grab one corner and make it really long and make the other faces not the same

[This](http://www.clipartkid.com/images/84/3d-rectangle-clip-art-at-clker-com-vector-clip-art-online-royalty-gBkDAn-clipart.png) and [this](https://image.freepik.com/free-icon/single-cube_318-36160.jpg) and pannels a

[2016-12-29 20:30] tobyplowy commented on #1
@D00Med also I'm making some screenshots for the 3d node box trees mod can I put them on the minetest reddit?

[2016-12-29 20:32] D00Med commented on #1
Ok, I agree.
Yes you may.
@Mastersyfodiaz I forgot to mention before, if you use flat planes, make a copy about 0.01 units away from the other, and flip the normal on it. Minetest only shows textures on one side of a plane.

[2016-12-29 20:35] D00Med commented on #1
Here is my attempt to improve the zora
https://s29.postimg.org/izajtvkp3/less_blocky_zora.png

[2016-12-29 20:36] tobyplowy commented on #1
@D00Med looks better in my opinion

[2016-12-29 20:36] D00Med commented on #1
Ok, that's good.

[2016-12-29 20:36] tobyplowy commented on #1
@D00Med can you make the body out of 2 cubes pease

[2016-12-29 20:38] tobyplowy commented on #1
@D00Med also take a look at https://github.com/D00Med/nodebox_trees/issues/1

[2016-12-29 20:42] D00Med commented on #1
Ok, done.
@Mastersyfodiaz definitely don't extrude new cubes from others, there are lots of trapezium faces and those will make texture mapping messy.

[2016-12-29 21:08] tobyplowy commented on #1
@D00Med I probably won't be able to do anything tonight but you never know ( it may be the same as the previous time)

[2016-12-29 21:09] D00Med commented on #1
Ok then.
Hey do you know how to get rid of textures and materials in blender?

[2016-12-29 21:10] tobyplowy commented on #1
@D00Med no sadly I don't but maby Mastersyfodiaz knows

[2016-12-29 21:13] D00Med commented on #1
Ok, nevermind I found out anyway, but when I try to use texture paint mode(which I use to set up a material), the model just comes up with a blank white material and no texture :S

[2016-12-29 21:14] D00Med commented on #1
aah nevermind, fixed it

[2016-12-29 22:24] D00Med commented on #1
The zora is now in the game

[2016-12-29 23:59] D00Med commented on #4
should I add the ice biome back into legend of minetest?

[2016-12-30 00:00] tobyplowy commented on #4
@D00Med yes

[2016-12-30 00:05] D00Med commented on #4
ok, I will also add some structures to it, so that it is more interesting

[2016-12-30 00:21] D00Med commented on #1
@tobyplowy  what do you think of the new quartz textures?

[2016-12-30 00:22] tobyplowy commented on #1
@D00Med I'm taking a look now :)

[2016-12-30 00:25] tobyplowy commented on #1
@D00Med I Still have to take a look at the text Raspberry have Question Can You Turn quartz pillar and quartz pillar horizontal into One Block a bit like the Tree blocks (they rotate depending on Direction your looking in)

[2016-12-30 00:28] tobyplowy commented on #1
@D00Med the textures Are Beautiful nice work

Can you also do quartz ore and quartz crystal?

[2016-12-30 00:31] D00Med commented on #1
Yes I will do that.
Thanks. Yes I will

[2016-12-30 00:31] tobyplowy commented on #1
@D00Med also Nyan ruppe doesent have a full block

[2016-12-30 00:33] tobyplowy commented on #1
@D00Med also it has no buried version is there a reason for that?

[2016-12-30 00:36] D00Med commented on #1
Oh ok I will add that too.
Yes there is, it's supposed to be really rare and hard to obtain.

[2016-12-30 00:39] tobyplowy commented on #1
@D00Med OK keep it like that

[2016-12-30 00:42] D00Med commented on #1
Ok then

[2016-12-30 09:22] D00Med commented on #4
I have added the ice biome again, and also a swamp biome.
The swamp biome is very WIP, but it will hopefully look good when I am done.
Also I fixed the problem with the conifer biome.

[2016-12-30 13:14] WinkingBaby commented on #4
Does Ganon have a dungeon made for him to spawn in?

[2016-12-30 19:26] D00Med commented on #4
Not yet, I will make one though.

[2016-12-30 19:40] tobyplowy commented on #1
@D00Med Any stuff I can do?

[2016-12-30 19:47] D00Med commented on #1
umm, could you make a texture for the goron? I'm having trouble making it a small texture.

[2016-12-30 19:49] D00Med commented on #1
Actually, I'll just make a list of any model that would be good to make for the game, and you(tobyplowy or Mastersyfodiaz) can pick whatever you want from that.

[2016-12-30 19:50] tobyplowy commented on #1
@D00Med Will try but im not really in the mood for that I would like to make new models

Maybe I Can Make a new Model for the goron (also this time I will texture it) can you texture the deku baba

[2016-12-30 19:54] D00Med commented on #1
Ok then.
I was going to say, your current goron model is good, but it would be good to have models for the style of the current one and for the style of the gorons in Ocarina of Time. Yes I have been intending to get around to doing that. I will do that soon

[2016-12-30 20:00] D00Med commented on #1
Did you finish the model for the skulltula?

[2016-12-30 20:04] tobyplowy commented on #1
@D00Med no somehow the blend file got lost :/

[2016-12-30 20:04] tobyplowy commented on #1
@D00Med I'm making a new one

[2016-12-30 20:04] D00Med commented on #1
Ok then

[2016-12-30 20:14] D00Med commented on #1
Ok here is the list. It's very big, but I don't think all of these should be in the game.
So just do whatever you feel like.

_List of mobs that need models.
note that the prefferred style is in brackets.

wizzrobe (Oracle of Seasons or the origial loz)
Beamos (Link to the Past or Ocarina of Time) *
Bubble (Any of the 3d games)
Crow (Oracle of Seasons)
Like Like
'Rope' (Oracle of Seasons)
Shrouded

[2016-12-30 20:56] tobyplowy commented on #1
@D00Med i made a keese model
[keese.zip](https://github.com/D00Med/LegendofMinetest/files/679229/keese.zip)

[2016-12-30 21:02] D00Med commented on #1
cool, I will look at it in a second, just finishing off the deku baba

[2016-12-30 21:03] tobyplowy commented on #1
@D00Med can you remove it from the list?

[2016-12-30 21:04] tobyplowy commented on #1
@D00Med I'm now working on the Jellyfish

[2016-12-30 21:05] D00Med commented on #1
Yes, I removed it.
Ok cool. I like the little enemies, they're fun to model and texture

[2016-12-30 21:07] tobyplowy commented on #1
@D00Med yup that's why I do them first XD

[2016-12-30 21:20] tobyplowy commented on #1
@D00Med I know this Might Fall Out Of The Sky from Nowhere but I want to tell you something it's quite important to me ( It Might not be a big deal for you but it is for me)

So remember when I said I will tell you later ( about why I have trouble learning blender)

Well the short story is that I have autism or asperger, I really like to help people it makes me feel useful because I don't really f

[2016-12-30 21:24] D00Med commented on #1
Ok, Thankyou for explaining.
But I'll be honest here I don't really understand what either of those things are, never having met someone with it irl, so don't worry you're still the random guy on the internet :'D

[2016-12-30 21:27] tobyplowy commented on #1
@D00Med wel is basically is Different on everyone but in my case I have problems with Being social and focusing on tasks and learning new things

( I'm happy that I can trust you and that you can accept me as I am)

[2016-12-30 21:33] D00Med commented on #1
Ok then.
Ah don't worry about it :)

[2016-12-30 21:36] tobyplowy commented on #1
@D00Med sorry about that bdw

lets continu ok ;P

[2016-12-30 21:40] tobyplowy commented on #1
@D00Med also the jellyfish is almost done

[2016-12-30 21:47] tobyplowy commented on #1
@D00Med tansparency doesent work on mobs riht?

[2016-12-30 21:48] D00Med commented on #1
No unfortunately.
https://s27.postimg.org/9zsdi7yab/screenshot_20161231_074632.png

[2016-12-30 21:50] tobyplowy commented on #1
@D00Med that looks super nice holy crap!

[2016-12-30 21:51] D00Med commented on #1
Haha that's good.
Makes the original look so pathetic

[2016-12-30 21:53] tobyplowy commented on #1
@D00Med XD

[2016-12-30 22:11] tobyplowy commented on #1
@D00Med i made a jellyfish or Biri as there called

[jelly.zip](https://github.com/D00Med/LegendofMinetest/files/679284/jelly.zip)
baced on this http://zelda.wikia.com/wiki/Biri

[2016-12-30 22:18] D00Med commented on #1
Thanks.
Also check this out
https://s23.postimg.org/m4wfos42j/render.png

[2016-12-30 22:22] tobyplowy commented on #1
@D00Med that is so nice looking :) now make a render of the attack animation XD

[2016-12-30 22:24] D00Med commented on #1
I made others too:
https://s27.postimg.org/pcuqgl0c3/render4.png
https://s30.postimg.org/ae22asm9d/render3.png
https://s23.postimg.org/vvilp8scb/render2.png

[2016-12-30 22:26] tobyplowy commented on #1
@D00Med nice :p

[2016-12-30 22:27] D00Med commented on #1
If only minetest could do that xD

[2016-12-30 22:28] tobyplowy commented on #1
@D00Med I know this Isn't really important right now but how much chance is there you will make a second game with me

[2016-12-30 22:29] tobyplowy commented on #1
@D00Med

Lol true It's sort of can you can enable custom bump mapping but that's it

[2016-12-30 22:41] tobyplowy commented on #1
@D00Med would you mind me helping with more of your mods?

[2016-12-30 22:52] D00Med commented on #1
I can't say yet, but I do want to do that.
Can it do bumpmapping on models though?
Not at all, your help is appreciated.

[2016-12-30 23:01] tobyplowy commented on #1
@D00Med I know it works on textures and item textures but im Not really sure about entetys

[2016-12-30 23:03] D00Med commented on #1
Ok then.

[2016-12-30 23:06] tobyplowy commented on #1
@D00Med I will work on my own stuff now so I won't be able to do any work Tonight I will still be able to speak or type XD

[2016-12-30 23:07] D00Med commented on #1
Ok then.
Your models are really good by the way.

[2016-12-30 23:08] tobyplowy commented on #1
@D00Med thx :)

[2016-12-30 23:09] tobyplowy commented on #1
@D00Med I will try to make a iron armor for the elegant I made (for texture studdy)

[2016-12-30 23:26] D00Med commented on #1
Ok then, that'd be cool.

[2016-12-30 23:48] tobyplowy commented on #1
@D00Med what are you doin g now?

[2016-12-30 23:50] D00Med commented on #1
I set the filler node for swamps as river water, it has interesting effects
https://s27.postimg.org/bshux866b/screenshot_20161231_094808.png
https://s24.postimg.org/f6vebx7cl/screenshot_20161231_094754.png
I can't decide if I like it or dislike it

[2016-12-30 23:53] tobyplowy commented on #1
@D00Med is it possibe to make the water purple?

[2016-12-30 23:53] tobyplowy commented on #1
@D00Med also i dount like the water falls

[2016-12-31 00:01] tobyplowy commented on #1
@D00Med also my progress on the ellephant armor ![fgh](https://cloud.githubusercontent.com/assets/16853304/21574534/aa3487ca-cef4-11e6-930c-363264f42c37.png)

[2016-12-31 00:05] D00Med commented on #1
That's river water so no.
Ok then, any idea how I could put more water in the biome then?
That looks good!

[2016-12-31 00:40] D00Med commented on #1
progress with the swamps https://s23.postimg.org/lvf8sgzvf/screenshot_20161231_103843.png

[2016-12-31 00:51] tobyplowy commented on #1
@D00Med upbdate
![fgh](https://cloud.githubusercontent.com/assets/16853304/21574880/afc84ac6-cefb-11e6-8ccb-30540c458d6b.png)

[2016-12-31 00:53] tobyplowy commented on #1
@D00Med looks nice https://s23.postimg.org/lvf8sgzvf/screenshot_20161231_103843.png bdw all trees seem to have the same derection

[2016-12-31 01:36] D00Med commented on #1
Nice! it makes it look angry though xD
Yeah I'm not sure how to fix that.

[2016-12-31 02:04] tobyplowy commented on #1
@D00Med XD

[2016-12-31 02:06] tobyplowy commented on #1
@D00Med if you release the nodebox tree mod can you post a link to the forum page also Can you rename it into Something like custom node models

[2016-12-31 02:07] D00Med commented on #1
https://forum.minetest.net/viewtopic.php?f=9&t=16292

[2016-12-31 02:07] D00Med commented on #1
I will eventually rename it, but not just now

[2016-12-31 02:17] tobyplowy commented on #1
@D00Med thanks

[2016-12-31 02:30] tobyplowy commented on #1
@D00Med I will be going to bed now

Bdw shuld I make gold armor for the elephant?

[2016-12-31 02:32] D00Med commented on #1
Ok then. If you'd like.
I tried making dragon armor once, it was a terrible failure

[2016-12-31 14:12] tobyplowy commented on #1
![fgh](https://cloud.githubusercontent.com/assets/16853304/21577870/7125a528-cf6b-11e6-90f3-4f0a63a86917.png)

[2016-12-31 20:00] D00Med commented on #1
Wow, you have a real talent for pixel art.

[2016-12-31 20:04] tobyplowy commented on #1
@D00Med I know this joke is probably super boring at this Point but...

Wait until we make a second game if we even do..

Also thank you

I won't be able to do anything for a couple hours it's new year I will be coming in 3 or 4 hours

[2016-12-31 20:05] D00Med commented on #1
Ok then.

[2016-12-31 20:06] D00Med commented on #1
Also happy new year!

[2016-12-31 20:22] tobyplowy commented on #1
@D00Med you too man! may we have a productive year

Also guss 3 to 4 howers is more like 20 minutes XD
What can I do?

[2016-12-31 20:29] D00Med commented on #1
Haha ok.
Not sure. Actually could you make a model of this? http://vignette1.wikia.nocookie.net/zelda/images/3/3f/Skull_Kid_Artwork_(Ocarina_of_Time).png/revision/latest?cb=20110514155723
I just updated the nodebox_trees mod, it should be a bit faster.
Any idea how the swamp could be improved? I've added little pools to it.

[2016-12-31 20:39] tobyplowy commented on #1
@D00Med Oké I will try to work on the skull kid ( Can you begin on the masks?)

[2016-12-31 20:40] D00Med commented on #1
Ok thanks. Yes I will, but first I will finish what I am doing, which is making another dungeon

[2016-12-31 20:41] tobyplowy commented on #1
@D00Med Oh Yes I Almost forgot about that I need to make More Dungeons

[2016-12-31 20:46] D00Med commented on #1
Yes please.
Also I need to improve how they spawn so I can reduce the number of nodes checked when the mapgen is generated. I was thinking that a "seed" block could be used, as a mapgen decoration, and as an ore.
What do you think?

[2016-12-31 20:48] tobyplowy commented on #1
@D00Med I Donno will the seed block be a structure how ( is it going to be used as a map marker type deal?)

[2016-12-31 20:51] tobyplowy commented on #1
@D00Med you were talking about Spawn items earlier to make Dungeons and I'm not a fan of that but I would like The Village to be a Spawn item

[2016-12-31 21:00] D00Med commented on #1
It will just be a node, maybe like air or stone, that will be placed with the mapgen and then used for a function. Ok then.

[2016-12-31 21:36] tobyplowy commented on #1
@D00Med is it Possible to make Underground biomes?

Like a Underground forest
And a biome with big glowing mushrooms (yes I got this idea from terraria)
And Cristal caves

[2016-12-31 21:40] D00Med commented on #1
It might be, but for now I don't want to add anything more complex than standard biomes and decorations to the mapgen. It's getting laggy. To make underground biomes, I would have to use another on_generated function.

[2016-12-31 21:41] tobyplowy commented on #1
Ok

[2016-12-31 21:43] tobyplowy commented on #1
@D00Med I have made 2 more dungeons

Hows the dungeon door and retro dungeon door going?

[2016-12-31 21:45] D00Med commented on #1
Cool :D Not at all, I will make them after I finish the deku mask.
So far it's going well.

[2016-12-31 21:46] tobyplowy commented on #1
@D00Med nice

[2016-12-31 21:48] tobyplowy commented on #1
@D00Med I think masks should be dropped by the respective enemy but they need to be really rare like 1 in a 500 shance

[2016-12-31 21:55] D00Med commented on #1
Yes good idea!

[2016-12-31 22:08] tobyplowy commented on #1
@D00Med can you remove the bones and have some kind of mechanic like Minecraft where you drop all the items in your inventory whin you die and you have to get there (the place where You died) before the items get despawnd

[2016-12-31 22:09] D00Med commented on #1
Why though? bones are convenient

[2016-12-31 22:11] tobyplowy commented on #1
@D00Med yes exactly just Because of that Reason, if you die you need to feel bad because you shouldn't be dying you should try to prevent dying it's called Survival for a reason (Hint you should try to survive)

[2016-12-31 22:12] D00Med commented on #1
Hmm yeah true. Maybe there should just be a timer before bones expire?

[2016-12-31 22:12] D00Med commented on #1
Also should I make them a tombstone and not bones?

[2016-12-31 22:13] tobyplowy commented on #1
@D00Med minetest games are way too easy that's why they get boring so quickly

[2016-12-31 22:13] tobyplowy commented on #1
@D00Med Yes And yes I was going to request the tombstone or grave stone

[2016-12-31 22:14] tobyplowy commented on #1
Bones timer should be 5 minute's

[2016-12-31 22:17] D00Med commented on #1
So...weren't you saying this game should be "kid friendly"? if so that's not very consistent.
But anyway, I want it to be difficult, but not frustrating. I will add the timer anyway, 5 minutes seems fair.

[2016-12-31 22:20] tobyplowy commented on #1
@D00Med I said it shouldn't have too much lag because most kids have slow computers I never said that it should be kid friendly, I want to punish those Little Bastards for having slow computers XD

[2016-12-31 22:21] tobyplowy commented on #1
@D00Med that sounded really wrong but I fixed it XD

[2016-12-31 22:22] D00Med commented on #1
Hahaha xD I was thinking of someone else on the forums anyway, sorry.
My little sister keeps saying "noo don't make it harder" :'D
Do you know how much mintest time is equal to five minutes?

[2016-12-31 22:23] tobyplowy commented on #1
No

[2016-12-31 22:24] tobyplowy commented on #1
Your gonna have to time it

[2016-12-31 22:24] D00Med commented on #1
I've uploaded the latest unstable.
You can put on the mask by left-clicking, and remove it by right-clicking a node.
Unfortunately it doesn't update immediately, so you have to switch views.
Ok then

[2016-12-31 22:25] tobyplowy commented on #1
@D00Med

 ( ͡° ͜ʖ ͡°)  that's what she said  ( ͡° ͜ʖ ͡°)

[2016-12-31 22:26] tobyplowy commented on #1
@D00Med

Can't you make it a helmet for the armor mod

[2016-12-31 22:37] tobyplowy commented on #1
@D00Med also the second dungeon is almost done

[2016-12-31 22:39] D00Med commented on #1
I don't think so, because that doesn't allow custom models.
Speaking of which, I was thinking of replacing the player model, maybe with that models that has knees and elbows. I'm not sure if it would work with armor though.
Ok great. What did you make it out of? I made mine out of the other retro dungeon blocks.
And speaking of retro, have you ever finished the first game? I've never had the patie

[2016-12-31 22:39] tobyplowy commented on #1
@D00Med I also found that the hookshot doesn't seem to work on an Angle

[2016-12-31 22:39] D00Med commented on #1
that's odd, it should.

[2016-12-31 22:42] tobyplowy commented on #1
@D00Med

no I didn't get to far, I should play it thow maybe later

[2016-12-31 22:45] tobyplowy commented on #1
@D00Med also the first is made out of blue retro bricks and the 2nd dungeon is made out of dungoen sandStone

[2016-12-31 22:47] tobyplowy commented on #1
@D00Med also I think all the retro dungeons should be generated low underground to Keep Them More Of a Secret type thing

[2016-12-31 22:52] D00Med commented on #1
It's hard.
I've only ever finished Ocarina of Time and Twilight Princess.
Ok good :)
Ok, aren't they low enough already?

[2016-12-31 22:55] tobyplowy commented on #1
@D00Med

No I ment all Dungeons Made with retro bricks shuld be the at the same height of The One That we have now

[2016-12-31 22:56] D00Med commented on #1
Oh ok, yes that's a good idea, I will make the standard dungeons out of cobblestone again.
I added the doors by the way, and if you put a key chest on top of either of the retro dungeon tiles or bricks, it will drop a retro key instead of a standard key.

[2016-12-31 22:58] tobyplowy commented on #1
Ok

[2016-12-31 23:05] D00Med commented on #1
Do you think the normal chests should look like this?
https://s28.postimg.org/k48206xst/default_chest_front.png

[2016-12-31 23:06] tobyplowy commented on #1
@D00Med

Same Those are the only two games I completed Twilight Princess on the Wii and Ocarina of Time on the 3ds

[2016-12-31 23:07] tobyplowy commented on #1
@D00Med no I'm not a fan of the redlike color

[2016-12-31 23:07] D00Med commented on #1
Ok, what if I make it more brown?

[2016-12-31 23:07] tobyplowy commented on #1
@D00Med not sure maybe :/

[2016-12-31 23:10] D00Med commented on #1
https://s29.postimg.org/brollg2p3/default_chest_front.png

[2016-12-31 23:11] tobyplowy commented on #1
@D00Med That's better

[2016-12-31 23:11] D00Med commented on #1
ok

[2016-12-31 23:12] tobyplowy commented on #1
@D00Med it is insane In My Street thers firework going off everywhere

[2016-12-31 23:13] tobyplowy commented on #1
Also the new texture is good

[2016-12-31 23:13] D00Med commented on #1
O.o must be pretty cool.
They're illegal here.

[2016-12-31 23:17] tobyplowy commented on #1
@D00Med really

[2016-12-31 23:18] tobyplowy commented on #1
@D00Med You're from Australia right?

[2016-12-31 23:21] D00Med commented on #1
Yeah

[2016-12-31 23:23] D00Med commented on #1
Something weird is happening with the connected chests :S

[2016-12-31 23:25] tobyplowy commented on #1
@D00Med i made 2 new dungions and i canged the old one to have the door
[dungion.zip](https://github.com/D00Med/LegendofMinetest/files/679869/dungion.zip)

[2016-12-31 23:33] tobyplowy commented on #1
@D00Med I will take a little break brb

[2016-12-31 23:35] D00Med commented on #1
ok

[2016-12-31 23:46] D00Med commented on #1
I'm going away for a bit, be back later

[2016-12-31 23:53] tobyplowy commented on #1
@D00Med OK

[2017-01-01 00:06] tobyplowy commented on #1
@D00Med I'm back ( my friend made me watch some videos I didn't want to see oh well XD)

[2017-01-01 00:20] tobyplowy commented on #1
@D00Med can you make a model for this guy as shopkeeper http://videogametalks.weebly.com/uploads/2/9/0/2/29028165/195704634.png

[2017-01-01 00:27] D00Med commented on #1
Ok, I'm back too.
I was going to do this guy: http://vignette1.wikia.nocookie.net/zelda/images/c/c8/Bazaar.png/revision/latest?cb=20100218002412
But I think the your suggestion is better.

[2017-01-01 00:28] tobyplowy commented on #1
@D00Med can you also make his arms rest on the bar in minetest?

[2017-01-01 00:30] tobyplowy commented on #1
http://vignette1.wikia.nocookie.net/zelda/images/c/c8/Bazaar.png/revision/latest?cb=20100218002412
is better

[2017-01-01 00:32] D00Med commented on #1
Yep.
Ok then...I'm tempted to try combining them :'D

[2017-01-01 00:33] tobyplowy commented on #1
@D00Med mutant shopkeeper

[2017-01-01 00:37] D00Med commented on #1
I've changed the bones

[2017-01-01 00:42] tobyplowy commented on #1
@D00Med oh you found that funny

[2017-01-01 00:44] D00Med commented on #1
they both look like mutants already

[2017-01-01 00:46] tobyplowy commented on #1
![lol](https://cloud.githubusercontent.com/assets/16853304/21579812/2aafab58-cfc4-11e6-9a59-89fdabec2b4e.png)

[2017-01-01 00:47] tobyplowy commented on #1
@D00Med I don't know why I made that XD

[2017-01-01 00:51] tobyplowy commented on #1
sorry
![2aafab58-cfc4-11e6-9a59-89fdabec2b4e](https://cloud.githubusercontent.com/assets/16853304/21579820/d18fceb2-cfc4-11e6-843b-82516c8a8c9c.png)

[2017-01-01 00:52] tobyplowy commented on #1
@D00Med Now that's a good shopkeeper XD

[2017-01-01 00:53] D00Med commented on #1
why stop there? xD
![image](https://cloud.githubusercontent.com/assets/19916704/21579827/7caafdbc-d010-11e6-817d-4572d08985f3.png)

[2017-01-01 00:53] tobyplowy commented on #1
Lol

[2017-01-01 00:54] tobyplowy commented on #1
@D00Med oh now it's on!

[2017-01-01 00:55] D00Med commented on #1
*cough* *cough* There might be a 'secret' animation could be added to the shopkeeper mob.

[2017-01-01 00:59] tobyplowy commented on #1
Oh no

[2017-01-01 01:01] tobyplowy commented on #1
![7caafdbc-d010-11e6-817d-4572d08985f3](https://cloud.githubusercontent.com/assets/16853304/21579840/2c8bcc84-cfc6-11e6-8d10-b234e3bd8ad6.png)

[2017-01-01 01:05] D00Med commented on #1
![image](https://cloud.githubusercontent.com/assets/19916704/21579843/2031d90a-d012-11e6-93f3-8071ba6130fc.png)

[2017-01-01 01:07] tobyplowy commented on #1
Lol

[2017-01-01 01:10] D00Med commented on #1
![image](https://cloud.githubusercontent.com/assets/19916704/21579858/d4c45410-d012-11e6-86d8-9224da72b6e5.png)
How's this for the model?(no legs yet)

[2017-01-01 01:12] tobyplowy commented on #1
looks good

[2017-01-01 01:12] tobyplowy commented on #1
![7caafdbc-d010-11e6-817d-4572d08985f3](https://cloud.githubusercontent.com/assets/16853304/21579864/bf6b6f86-cfc7-11e6-8d4b-4913ca194767.png)

[2017-01-01 01:13] D00Med commented on #1
I've never seen that on sale before :'D

[2017-01-01 01:15] tobyplowy commented on #1
@D00Med it's not on sale it's link forking over all of Zelda's ruppes to get stoned

[2017-01-01 01:16] tobyplowy commented on #1
@D00Med the kokiri stuff store the best stuff in Hyrule

[2017-01-01 01:17] tobyplowy commented on #1
"Stuff"

[2017-01-01 01:23] tobyplowy commented on #1
@D00Med and if you enter the shop you here this https://www.youtube.com/watch?v=ikHY7MEADsA

[2017-01-01 01:27] D00Med commented on #1
You have this planned out in so much detail xD

[2017-01-01 01:28] tobyplowy commented on #1
@D00Med yes i do

[2017-01-01 01:29] tobyplowy commented on #1
this will be in the legend of zelda breth of the wild XD

[2017-01-01 01:32] tobyplowy commented on #1
![7caafdbc-d010-11e6-817d-4572d08985f3](https://cloud.githubusercontent.com/assets/16853304/21579892/8a5bdf4e-cfca-11e6-8653-43408b7748af.png)

[2017-01-01 01:32] tobyplowy commented on #1
@D00Med ok im done XD

[2017-01-01 01:34] tobyplowy commented on #1
@D00Med can you give me the wind bomerang model?

[2017-01-01 01:35] D00Med commented on #1
Haha I would add to it, but I don't really think there's anything left to do xD
by the way, have you seen the 'rare' mob I put into the game?

[2017-01-01 01:35] D00Med commented on #1
As in the blender file?

[2017-01-01 01:35] tobyplowy commented on #1
As in the blender file?

yes

[2017-01-01 01:36] tobyplowy commented on #1
no

[2017-01-01 01:36] tobyplowy commented on #1
is it tingle?

[2017-01-01 01:37] D00Med commented on #1
yes

[2017-01-01 01:38] tobyplowy commented on #1
i saw the texture file you cant hide stuff from me XD

[2017-01-01 01:39] tobyplowy commented on #1
@D00Med do you have the blender file for the wind boomerang

[2017-01-01 01:39] D00Med commented on #1
Haha xD
[boomerang.zip](https://github.com/D00Med/LegendofMinetest/files/679898/boomerang.zip)

[2017-01-01 01:40] tobyplowy commented on #1
@D00Med thx

[2017-01-01 01:47] D00Med commented on #1
Nearly done the shopkeeper, I just have to texture it.

[2017-01-01 01:48] tobyplowy commented on #1
@D00Med I'm trying to improve some textures

[2017-01-01 01:49] D00Med commented on #1
Ok then. What resolution do you recommend for the shopkeeper?

[2017-01-01 01:51] tobyplowy commented on #1
@D00Med 64x64

[2017-01-01 01:51] D00Med commented on #1
ok then

[2017-01-01 02:03] tobyplowy commented on #1
new ruppe ore
![hyruletools_bluerupee_ore](https://cloud.githubusercontent.com/assets/16853304/21579940/e282ee66-cfce-11e6-9d19-35488859b366.png)
![hyruletools_greenrupee_ore](https://cloud.githubusercontent.com/assets/16853304/21579942/e2849eaa-cfce-11e6-9bef-0dd191341de4.png)
![hyruletools_redrupee_ore](https://cloud.githubusercontent.com/assets/16853304/21579941/e28443f6-cfce-11e6-8ec3-b164e8c2

[2017-01-01 02:05] D00Med commented on #1
Wow, they look really good!

[2017-01-01 02:10] tobyplowy commented on #1
@D00Med is hyruletools_boomerp.png and hyruletools_boomerps.png still used?
also thans

[2017-01-01 02:15] D00Med commented on #1
No, I have just removed them

[2017-01-01 02:17] tobyplowy commented on #1
I'm fixing the wind bomerang and I'm adding a tornado to it :D

[2017-01-01 02:20] D00Med commented on #1
Ok cool! :D

[2017-01-01 02:29] tobyplowy commented on #1
@D00Med the mapping on the boomerang is all over the place :/

[2017-01-01 02:31] D00Med commented on #1
Yeas...I didn't think ahead

[2017-01-01 02:34] tobyplowy commented on #1
@D00Med I can't seem to add transparency for some Reason

[2017-01-01 02:36] D00Med commented on #1
transparency to what?

[2017-01-01 02:44] tobyplowy commented on #1
The boomerang also it's done

[2017-01-01 02:46] tobyplowy commented on #1
[boomarang.zip](https://github.com/D00Med/LegendofMinetest/files/679908/boomarang.zip)

whats black needs to be transparent

[2017-01-01 02:52] tobyplowy commented on #1
@D00Med also can you make a less detaild character.png?

[2017-01-01 02:54] D00Med commented on #1
![boomerang](https://cloud.githubusercontent.com/assets/19916704/21580044/3127c486-d021-11e6-9dcf-e0bbca10ee86.PNG)
Yes, I've been meaning to do that for a while now.
But should I use a different model? I was thinking I could add more animations to it, like swimming.

[2017-01-01 02:57] tobyplowy commented on #1
@D00Med I think the character model should still look like the original and it should still use the same texture so it's compatible with custom skins

[2017-01-01 02:59] tobyplowy commented on #1
@D00Med for the character you may use the original character model and you can add Two Pieces for the arm and Two Pieces for the leg so you can animate it better

[2017-01-01 03:00] tobyplowy commented on #1
@D00Med also I will go to bed now see you later

[2017-01-01 03:01] D00Med commented on #1
Ok, I think that the advanced player model (the one with elbows and knees) uses the same skin.
Yeah there's one like that.
Ok then, bye

[2017-01-01 13:41] WinkingBaby commented on #4
Just wanted to let you know. In certain situations you can see through walls with the third person view.

[2017-01-01 19:54] D00Med commented on #4
Oh, that's a bit odd, but doesn't that sometimes happen in the default game?
I've done it before I think.

[2017-01-01 19:59] tobyplowy commented on #1
@D00Med hey

[2017-01-01 20:06] D00Med commented on #1
Hello

[2017-01-01 20:08] tobyplowy commented on #1
@D00Med I'm working on support for the node box trees mod for Summerfields :D
Hows the shopkeeper going?

[2017-01-01 20:08] tobyplowy commented on #1
also i found tingle
![lol](https://cloud.githubusercontent.com/assets/16853304/21582780/772bd00e-d066-11e6-9057-8546af7e213f.png)

[2017-01-01 20:10] D00Med commented on #1
The shopkeeper is almost done.
Also I've started adding knees and elbows to the player model

[2017-01-01 20:10] tobyplowy commented on #1
@D00Med nice

[2017-01-01 20:16] D00Med commented on #1
What do you think of the new skin?

[2017-01-01 20:17] tobyplowy commented on #1
It's good

[2017-01-01 20:17] D00Med commented on #1
that's good

[2017-01-01 20:24] tobyplowy commented on #1
@D00Med ok im now working on the spider

[2017-01-01 20:27] D00Med commented on #1
Ok, I'm finishing off the shopkeeper

[2017-01-01 20:29] D00Med commented on #1
80323674480348055 - that map seed is a good one for testing the swamp with v7 mapgen

[2017-01-01 20:31] tobyplowy commented on #1
Ok nice

[2017-01-01 20:47] D00Med commented on #1
I was thinking, should I replace the potion from xdecor with a really really minimal version of witchcraft?
Also, maybe some items should use Wuzzy's mana mod.

[2017-01-01 20:57] tobyplowy commented on #1
@D00Med yes that's a good idea

[2017-01-01 21:02] tobyplowy commented on #1
the progress on the texture so far
![skulltula](https://cloud.githubusercontent.com/assets/16853304/21583027/dfbae130-d06d-11e6-8c03-972a62e0164e.png)

[2017-01-01 21:11] D00Med commented on #1
Wow that looks really good!

[2017-01-01 21:29] tobyplowy commented on #1
![wip](https://cloud.githubusercontent.com/assets/16853304/21583105/b69434d8-d071-11e6-8306-26218ce98152.png)
WIP!!!

[2017-01-01 21:56] tobyplowy commented on #1
@D00Med Sorry that it takes so long

But it's going to look so awesome it's going to be incredible

[2017-01-01 22:03] tobyplowy commented on #1
@D00Med the body is done now the legs

[2017-01-01 22:04] D00Med commented on #1
No problem it looks like it will be really really good.

[2017-01-01 22:43] tobyplowy commented on #1
@D00Med the skulltula is done
![wip](https://cloud.githubusercontent.com/assets/16853304/21583311/f5211cd4-d07b-11e6-8c5a-4ab9217c678a.png)

[skulltula.zip](https://github.com/D00Med/LegendofMinetest/files/680230/skulltula.zip)

[2017-01-01 22:45] tobyplowy commented on #1
@D00Med can you make a hd render of this?

[2017-01-01 23:11] D00Med commented on #1
Woah nice, and certainly :)
(sorry for the late reply)

[2017-01-01 23:13] tobyplowy commented on #1
@D00Med no problem

[2017-01-01 23:16] tobyplowy commented on #1
@D00Med it took me 2 hours XD

[2017-01-01 23:21] D00Med commented on #1
Your effort really shows, it's amazing!
![image](https://cloud.githubusercontent.com/assets/19916704/21583448/dde6147e-d0cc-11e6-8029-d3f40f09b8a5.png)

[2017-01-01 23:22] D00Med commented on #1
it's meant to have transparency
https://s27.postimg.org/566jrv0ub/render.png

[2017-01-01 23:25] tobyplowy commented on #1
@D00Med Can you make a render Without The Light hitting The legs?

Also thanks

[2017-01-01 23:28] D00Med commented on #1
Sure https://s29.postimg.org/x8egbe0rr/render2.png

[2017-01-01 23:30] tobyplowy commented on #1
@D00Med Thanks
I don't want to Sound Like A douchebag or Anything but, I'm So Good XD sorry

[2017-01-01 23:37] D00Med commented on #1
I've nearly finished adding mana and witchcraft.

[2017-01-01 23:37] tobyplowy commented on #1
@D00Med nice hows the shopkeeper going?

[2017-01-01 23:48] tobyplowy commented on #1
@D00Med also some new stuff at https://github.com/D00Med/nodebox_trees/issues/1

[2017-01-02 00:12] D00Med commented on #1
Aah sorry, the page wasn't refreshing.
The shopkeeper is done, I will upload in a second.

[2017-01-02 00:34] tobyplowy commented on #1
@D00Med where's the screenshot?

[2017-01-02 00:37] D00Med commented on #1
https://s23.postimg.org/67k8vg4pn/screenshot_20170102_093049.png

[2017-01-02 00:40] tobyplowy commented on #1
@D00Med Oh that looks so nice!
Good job!

[2017-01-02 00:43] tobyplowy commented on #1
@D00Med can you update the ustable i wanna test this guy

[2017-01-02 00:45] tobyplowy commented on #1
@D00Med oh sorry i forgot to add a little detail it shuld say.
can you update the ustable i wanna test this guy ( ͡° ͜ʖ ͡°)

[2017-01-02 00:53] D00Med commented on #1
Thanks.
And yes, I am updating it now

[2017-01-02 00:56] tobyplowy commented on #1
@D00Med thanks

[2017-01-02 01:04] D00Med commented on #1
He's after me!
https://s29.postimg.org/a4qmbiso7/screenshot_20170102_110247.png

[2017-01-02 01:05] tobyplowy commented on #1
Lol

[2017-01-02 01:06] tobyplowy commented on #1
@D00Med With his giant hands if he gets you you're done for that's for sure!

[2017-01-02 01:07] D00Med commented on #1
His hands grow big if you use the eye of truth on him, but it messes up the animation

[2017-01-02 01:09] tobyplowy commented on #1
@D00Med look what i just found ![naamlfffffffffoos](https://cloud.githubusercontent.com/assets/16853304/21583801/70bccb4a-d090-11e6-8d7b-e9a620900949.png)

[2017-01-02 01:10] D00Med commented on #1
woah, nice!

[2017-01-02 01:10] tobyplowy commented on #1
@D00Med also The caves look so good with the stalagmites and stalactites and the cave fern

[2017-01-02 01:11] tobyplowy commented on #1
@D00Med we did a real good job so far!

Okay I really want to use the overused joke but I'm not gonna

[2017-01-02 01:13] D00Med commented on #1
That's good. I was thinking of adding the crystals from the glowtest mod.
https://camo.githubusercontent.com/e70925eda61b92e3c4b6719f98e8252de722a224/687474703a2f2f692e696d6775722e636f6d2f7348324850487a2e706e67
Haha xD

[2017-01-02 01:18] tobyplowy commented on #1
@D00Med the Cristal's yes the trees no (but if the trees genarate underground than yes)

[2017-01-02 01:18] D00Med commented on #1
yeah just the crystals, I think the mode complicated mapgen stuff has to be saved for dungeons now, so it doesn't get too slow

[2017-01-02 01:21] D00Med commented on #1
Hmm, do you have nodebox editor?

[2017-01-02 01:29] tobyplowy commented on #1
No I tried it but I couldn't use it I hated it

[2017-01-02 01:29] D00Med commented on #1
Ok, fair enough.

[2017-01-02 01:31] tobyplowy commented on #1
@D00Med sorry :/

[2017-01-02 01:33] D00Med commented on #1
That's ok. I just thought it might be better to make new crystal models.

[2017-01-02 01:34] tobyplowy commented on #1
i can do it with blender

[2017-01-02 01:34] D00Med commented on #1
I don't think the transparency will work on a model though

[2017-01-02 01:36] tobyplowy commented on #1
Oh I forget about that (can you do the Cristal model?)

[2017-01-02 01:38] D00Med commented on #1
Yes I can and will

[2017-01-02 01:43] tobyplowy commented on #1
![naamlfffffffffoos](https://cloud.githubusercontent.com/assets/16853304/21583928/493aaa38-d095-11e6-9afb-7e271251d7ed.png)

[2017-01-02 01:44] tobyplowy commented on #1
it just keeps being funny

[2017-01-02 01:44] tobyplowy commented on #1
@D00Med also how do i use the eye of truth?

[2017-01-02 01:50] tobyplowy commented on #1
@D00Med i just found this and it looks nice
![naamlfffffffffoos](https://cloud.githubusercontent.com/assets/16853304/21583961/4d05476c-d096-11e6-94a2-3ab7cd5a9bb3.png)

2 qestions 1 can you make ice slippery
and 2 can you add ice doors

[2017-01-02 01:58] D00Med commented on #1
I don't think that's ever going to get old :'D
You have to right click him.
I'm not sure how to make ice slippery, I was thinking that I could set the player speed to 0 every time no control is pressed, so it would be like the redead's paralysis. But it would cause lag I think. and yes, ice doors would be awesome!

[2017-01-02 02:05] tobyplowy commented on #1
@D00Med

I already tried it's not working

[2017-01-02 02:06] tobyplowy commented on #1
@D00Med Also speaking of that The Dungeon chests Don't seem to work

[2017-01-02 02:11] tobyplowy commented on #1
eglues 4 dayz ![naamlfffffffffoos](https://cloud.githubusercontent.com/assets/16853304/21584041/fa1414e0-d098-11e6-8173-f0428552f68e.png)
i think there shuld be less generatig XD

[2017-01-02 02:12] D00Med commented on #1
You must have updated before I uploaded that bit.
In what way?
Yes I will make them more scarce.

[2017-01-02 02:13] tobyplowy commented on #1
@D00Med i can't interact with the dungeon chest whatsoever the only thing I can do is Break it

[2017-01-02 02:14] D00Med commented on #1
Have you tried right clicking it with a key?

[2017-01-02 02:17] tobyplowy commented on #1
Ok it works now the chest disappears

[2017-01-02 02:19] tobyplowy commented on #1
@D00Med also if you click The Dungeon chest without a Key in your hand it shuld warn you that you need a dungeon key to do that

[2017-01-02 02:23] D00Med commented on #1
Ok then

[2017-01-02 02:31] tobyplowy commented on #1
@D00Med also here is the music by sam [music.zip](https://github.com/D00Med/LegendofMinetest/files/680325/music.zip)

[2017-01-02 02:38] tobyplowy commented on #1
I will go to bed now see you tomorrow :)

[2017-01-02 02:41] D00Med commented on #1
thanks.
ok then, bye

[2017-01-02 19:19] tobyplowy commented on #1
@D00Med can this be added https://github.com/jordan4ibanez/open_minecart

[2017-01-02 20:28] D00Med commented on #1
What has been changed in it?

[2017-01-02 20:39] tobyplowy commented on #1
@D00Med minecarts work better also speaking of that I'm making a better minecart model

[2017-01-02 20:40] D00Med commented on #1
Ok then.
I've put ambience into the game, and I want to cut out anything unimportant, is there anything you think should be removed? I was thinking of removing everything apart from music, but the water and cave sounds are nice.

[2017-01-02 20:42] tobyplowy commented on #1
@D00Med I have not tested it jet so I don't know what's in it

[2017-01-02 20:43] tobyplowy commented on #1
@D00Med do you think there needs to be a lot of stuff done for the legend of minetest to be done
I think it's approaching completion (I dount think it's there yet but its close)

[2017-01-02 20:47] D00Med commented on #1
Oh ok then.
There is a lot of stuff to do, but there is a lot less than there was, so yes I think it is approaching completion.
The biggest problem is I keep getting distracted by one thing and not finishing another :/

[2017-01-02 20:48] tobyplowy commented on #1
@D00Med I know the feeling

[2017-01-02 20:49] D00Med commented on #1
Seems like the carts aren't finished. It's nice that they can be pushed around though

[2017-01-02 20:50] tobyplowy commented on #1
@D00Med

Yes that's the main reason I want them XD

[2017-01-02 20:53] D00Med commented on #1
They could be useful for items I guess

[2017-01-02 20:56] tobyplowy commented on #1
@D00Med yup

[2017-01-02 21:02] tobyplowy commented on #1
@D00Med new minecart model is done
[minecart.zip](https://github.com/D00Med/LegendofMinetest/files/681377/minecart.zip)

[2017-01-02 21:07] tobyplowy commented on #1
@D00Med I hope it's good, i took a lot of Inspiration from the Minecraft minecart model

[2017-01-02 21:14] D00Med commented on #1
It looks good, but won't its size cause problems?

[2017-01-02 21:16] tobyplowy commented on #1
@D00Med What do you mean size?

[2017-01-02 21:19] tobyplowy commented on #1
@D00Med Oh Yeah I know People stand in Cars right now right can you change the animation so the player model sits?

[2017-01-02 21:24] D00Med commented on #1
It is longer than it is wide.
Yes I will do that.
I just added the new dungeons, and a dungeon spawning ore to reduce lag

[2017-01-02 21:25] tobyplowy commented on #1
@D00Med

Yes That's The Point It Looks Better In My opinion

[2017-01-02 21:25] D00Med commented on #1
yeah but the mod was made for a square cart.

[2017-01-02 21:27] tobyplowy commented on #1
@D00Med how does the model change the mechanics it just looks different it doesn't behave different does it?

[2017-01-02 21:29] D00Med commented on #1
By the way, the new music is great :D

[2017-01-02 21:29] D00Med commented on #1
Well it would look odd if it was poking through a node

[2017-01-02 21:30] tobyplowy commented on #1
@D00Med I think it should just be implemented and we can see how it looks later no?

[2017-01-02 21:30] tobyplowy commented on #1
@D00Med or we can keep the cart how it is now I guess :/

[2017-01-02 21:32] tobyplowy commented on #1
@D00Med also anny more work I can do

[2017-01-02 21:33] D00Med commented on #1
Ok then, fair enough.
I will add it and see

[2017-01-02 21:33] tobyplowy commented on #1
@D00Med another question I have is can you post your to-do list so I can take a look at itt

[2017-01-02 21:33] tobyplowy commented on #1
@D00Med thx

[2017-01-02 21:34] D00Med commented on #1
Yeah, I just have to type it up

[2017-01-02 21:37] tobyplowy commented on #1
@D00Med no don't do it It's Too Much work!

[2017-01-02 21:45] tobyplowy commented on #1
@D00Med doing that Will Take You a While XD

[2017-01-02 21:47] D00Med commented on #1
I know:

That's still incomplete. Is there anything really important that I've missed?

[2017-01-02 21:53] tobyplowy commented on #1
@D00Med

 Not that I can think of

[2017-01-02 21:54] tobyplowy commented on #1
@D00Med I will be making more dungeons in a couple of minutes

[2017-01-02 21:55] D00Med commented on #1
Ok then, great :D

[2017-01-02 22:09] D00Med commented on #1
I can't put items in the new minecarts either :S

[2017-01-02 22:11] tobyplowy commented on #1
@D00Med I guess you shouldn't do it then but it's quite sad because the model looks a lot better

[2017-01-02 22:16] D00Med commented on #1
Yeah. Oh no, the new model actually fits in fine, I've added it to the cart mod that was in the game originally.

[2017-01-02 22:21] tobyplowy commented on #1
@D00Med Can you show me a screenshot of the new cart model in game?

[2017-01-02 22:24] D00Med commented on #1
Sure.
https://s30.postimg.org/wdc6wzp8h/screenshot_20170103_082345.png

[2017-01-02 22:25] tobyplowy commented on #1
@D00Med looks nice

[2017-01-02 22:26] tobyplowy commented on #1
@D00Med its more realistic

[2017-01-02 22:27] D00Med commented on #1
yeah

[2017-01-02 22:33] tobyplowy commented on #1
minecart item
![minecart item](https://cloud.githubusercontent.com/assets/16853304/21597013/c8546436-d143-11e6-8e7f-69400fa55142.png)

[2017-01-02 22:35] D00Med commented on #1
Is the cart texture entirely made by you? or did you modify the old one?

[2017-01-02 22:36] tobyplowy commented on #1
@D00Med i used parts of the normal minetestgame texture

[2017-01-02 22:38] D00Med commented on #1
ok then

[2017-01-02 22:41] tobyplowy commented on #1
@D00Med whin will doors_item_plate.png and doors_door_plate.png be implemented?

[2017-01-02 22:46] tobyplowy commented on #1
@D00Med new default_glass_detail.png
![default_glass_detail](https://cloud.githubusercontent.com/assets/16853304/21597135/98830ef4-d145-11e6-9fe4-a7110d7a1dab.png)

[2017-01-02 22:48] D00Med commented on #1
Yes, definitely.
Thanks, that looks good.

[2017-01-02 22:50] tobyplowy commented on #1
@D00Med can you get rid of screenshot.png in the awards mod and in mobs_animal

[2017-01-02 22:53] tobyplowy commented on #1
@D00Med also in the mobs_animal mod can you remove the rat and sheep and bee mobs

and the cow will need a new model

[2017-01-02 22:54] D00Med commented on #1
Yes I will.
why the sheep? they are important for getting wool.
And the rats are nice to have around.

[2017-01-02 22:55] tobyplowy commented on #1
sheep will need a better model

and the rats look like shit

[2017-01-02 22:58] D00Med commented on #1
Yeah, I can make one.
Haha :'D

[2017-01-02 23:00] tobyplowy commented on #1
@D00Med new chest sides
![default_chest_side](https://cloud.githubusercontent.com/assets/16853304/21597240/8a4e123c-d147-11e6-8390-5d196d8049e8.png)
![hyrule_mapgen_chest_side](https://cloud.githubusercontent.com/assets/16853304/21597239/8a4d4b40-d147-11e6-8920-173197d6fed7.png)

[2017-01-02 23:02] tobyplowy commented on #1
@D00Med can you make the sheep look like this? https://zeldawiki.org/images/d/da/Ordon_Link.png

[2017-01-02 23:04] tobyplowy commented on #1
@D00Med the cow shuld look like this http://vignette3.wikia.nocookie.net/zelda/images/3/3a/Cow_%28Ocarina_of_Time_%26_Majora%27s_Mask%29.png/revision/latest?cb=20091222203513 https://zeldawiki.org/images/thumb/9/97/MM_Cow.png/200px-MM_Cow.png

[2017-01-02 23:05] D00Med commented on #1
Isn't that a goat though?

[2017-01-02 23:10] tobyplowy commented on #1
@D00Med yes but thers no sheep in loz

[2017-01-02 23:11] tobyplowy commented on #1
so we have to make it up and a goat is the cosest to a sheep

[2017-01-02 23:12] tobyplowy commented on #1
@D00Med also better doors_door_plate.png
![doors_door_plate](https://cloud.githubusercontent.com/assets/16853304/21597310/316bf312-d149-11e6-8f15-53cedaf8c592.png)

[2017-01-02 23:15] D00Med commented on #1
Hmm nah I'll make a sheep, but I'll make it fit in better. The subgame isn't meant to be completely faithful(example: ganon, or the magic forest)
Maybe something like the mini sheep model that is popular on the forums at the moment.

[2017-01-02 23:16] tobyplowy commented on #1
the one from the new ai mod?

[2017-01-02 23:16] D00Med commented on #1
Yes that one

[2017-01-02 23:17] tobyplowy commented on #1
@D00Med yes thats good

[2017-01-02 23:17] tobyplowy commented on #1
@D00Med you still need to remove xdecor stereo

[2017-01-02 23:17] D00Med commented on #1
I googled "loz sheep", and found this http://www.dhresource.com/260x260s/f2-albu-g4-M01-05-7F-rBVaEFb7qR-AFP2EAAH6KwVMZ6M416.jpg/wholesale-loz-sheep-model-diamond-building.jpg
:'D
Oh I thought I had already, sorry

[2017-01-02 23:18] tobyplowy commented on #1
@D00Med wtf what does lego shawn the sheep have to do wiht loz?

[2017-01-02 23:19] tobyplowy commented on #1
"ripoff lego"

[2017-01-02 23:23] tobyplowy commented on #1
@D00Med  ok i did one minute of Research and i found this
![lol](https://cloud.githubusercontent.com/assets/16853304/21597406/d6bd7a1a-d14a-11e6-9c3c-9ded2809d710.png)
try to guss wats wrong XD

[2017-01-02 23:24] D00Med commented on #1
Mario is looking so different these days.

[2017-01-02 23:24] tobyplowy commented on #1
@D00Med lol

[2017-01-02 23:25] tobyplowy commented on #1
its not how it used to be

[2017-01-02 23:25] tobyplowy commented on #1
https://www.google.be/search?q=Diamond+Nano+Blocks+Toys&source=lnms&tbm=isch&sa=X&ved=0ahUKEwiBtrrOzaTRAhVaMlAKHVOtCbkQ_AUICCgB&biw=1198&bih=703

[2017-01-02 23:26] D00Med commented on #1
how's this for a sheep? https://s28.postimg.org/jxtzvm3vh/sheep.png

wtf there's a bear using a urinal http://g03.a.alicdn.com/kf/HTB1M_MvHFXXXXaBXFXXq6xXFXXXo/LOZ-Diamond-Mini-Nano-Blocks-Toys-Mickey-and-Minne-Duck-Daisy-and-bear-of-educational-Toy.jpg

[2017-01-02 23:34] tobyplowy commented on #1
@D00Med the evolution of mario
![visual_evolution_of_mario](https://cloud.githubusercontent.com/assets/16853304/21597523/58ca6896-d14c-11e6-9207-0a006e1d3269.jpg)

[2017-01-02 23:34] tobyplowy commented on #1
wtf there's a bear using a urinal XD

[2017-01-02 23:35] tobyplowy commented on #1
@D00Med

that looks super good

[2017-01-02 23:35] tobyplowy commented on #1
@D00Med can i have that blend file?

[2017-01-02 23:37] D00Med commented on #1
[sheep.zip](https://github.com/D00Med/LegendofMinetest/files/681497/sheep.zip)

[2017-01-02 23:39] tobyplowy commented on #1
thx

[2017-01-02 23:43] tobyplowy commented on #1
@D00Med i added some texture to the grave
![bones_bottom](https://cloud.githubusercontent.com/assets/16853304/21597608/82720cca-d14d-11e6-8f29-b87829590d90.png)
![bones_front](https://cloud.githubusercontent.com/assets/16853304/21597611/8274d838-d14d-11e6-8cd5-fedcc4ae631a.png)
![bones_rear](https://cloud.githubusercontent.com/assets/16853304/21597610/82739612-d14d-11e6-97d8-d7e4c77639c1.png)
![bo

[2017-01-02 23:44] D00Med commented on #1
hmm does it need it though?

[2017-01-02 23:44] tobyplowy commented on #1
@D00Med can you make a better default_apple.png

[2017-01-02 23:45] tobyplowy commented on #1
@D00Med

i dunno i wuld like it

[2017-01-02 23:49] D00Med commented on #1
ok, I've added the textures.
Yeah I will.
Cow: https://s23.postimg.org/a72x2tzp7/cow.png

[2017-01-02 23:51] tobyplowy commented on #1
@D00Med nice cow model

[2017-01-02 23:51] D00Med commented on #1
Thanks

[2017-01-02 23:52] tobyplowy commented on #1
can you fix this
![naamfffloos](https://cloud.githubusercontent.com/assets/16853304/21597684/e399b696-d14e-11e6-9a94-735c97c65082.png)

[2017-01-02 23:53] D00Med commented on #1
yes

[2017-01-02 23:54] tobyplowy commented on #1
can i do the sheep

[2017-01-02 23:54] tobyplowy commented on #1
@D00Med  wanna texture the sheep

[2017-01-02 23:55] tobyplowy commented on #1
@D00Med also did you make the sheep model?

[2017-01-02 23:55] D00Med commented on #1
Yes I thought that's what you wanted the model for.
Yes I did.

[2017-01-03 00:01] tobyplowy commented on #1
@D00Med

lol was it that ovius

[2017-01-03 00:02] tobyplowy commented on #1
@D00Med also i fixed the wool on the sheep

[2017-01-03 00:08] D00Med commented on #1
in what way?

[2017-01-03 00:11] tobyplowy commented on #1
it diddent cover th body

[2017-01-03 00:13] tobyplowy commented on #1
@D00Med how do i get rid of this shading
![naamlooffffffffffffs](https://cloud.githubusercontent.com/assets/16853304/21597867/c4c5925a-d151-11e6-81ec-48c0d0a6e647.png)

[2017-01-03 00:16] D00Med commented on #1
yes it did, the body was the wool. It looks better than just a cube.
When the sheep is sheared the skin changes anyway, so the wool bits on the 'body' would change to skin.
Go into texture paint mode for a second, so that blender makes a texture material, then replace the material texture with your texture. That's just preparation. when you've done that, you can go to properties>material, and then

[2017-01-03 00:17] D00Med commented on #1
I made a model for the business scrub. Should I make one for these little ones too?
http://www.zeldadungeon.net/Zelda05/Masks/Deku2_Large.jpg

[2017-01-03 00:18] tobyplowy commented on #1
yes

[2017-01-03 00:20] tobyplowy commented on #1
@D00Med eeeehhh can you fix that
[vvvv.zip](https://github.com/D00Med/LegendofMinetest/files/681534/vvvv.zip)

[2017-01-03 00:28] D00Med commented on #1
Yes. I want to make the wool like it was before, if you don't mind. Do you?

[2017-01-03 00:28] tobyplowy commented on #1
@D00Med thats ok

[2017-01-03 00:30] D00Med commented on #1
[vvvv.zip](https://github.com/D00Med/LegendofMinetest/files/681545/vvvv.zip)
Is this fixed?

[2017-01-03 00:34] tobyplowy commented on #1
@D00Med lol thats the way i texture

[2017-01-03 00:38] D00Med commented on #1
"thats the way i texture"?

[2017-01-03 00:39] tobyplowy commented on #1
@D00Med yes I lifted the wool cube up so I can reach the body easily to texture it

[2017-01-03 00:40] tobyplowy commented on #1
@D00Med when do i get the model back?

[2017-01-03 00:41] D00Med commented on #1
Oh ok.
What do you mean? I gave it back didn't I?

[2017-01-03 00:41] tobyplowy commented on #1
@D00Med oh yes sorry

[2017-01-03 00:43] D00Med commented on #1
no problem

[2017-01-03 01:09] tobyplowy commented on #1
@D00Med body and tail is done now the rest uuhhhhh

[2017-01-03 01:11] tobyplowy commented on #1
@D00Med I'm talking about mapping right not the texture

[2017-01-03 01:21] D00Med commented on #1
Mapping is painfully slow

[2017-01-03 01:23] tobyplowy commented on #1
@D00Med yes especially if your an OCD Freak Like Me XD

[2017-01-03 01:28] D00Med commented on #1
oh speaking of which, can you make sure snap to pixels and image borders is turned on?

[2017-01-03 01:30] tobyplowy commented on #1
@D00Med yes snap to pixels is always on ( How else do you think I Make my models so perfectly pixeled)

Also why do I need image borders

[2017-01-03 01:31] D00Med commented on #1
Ok I thought you might, but I just had to check.
Well, actually you don't if snap to pixels is on.

[2017-01-03 01:32] tobyplowy commented on #1
XD

[2017-01-03 01:52] tobyplowy commented on #1
@D00Med can you make the Texture ( the mapping already takes forever)

[2017-01-03 01:53] tobyplowy commented on #1
It's Almost all done The only thing I need to map is legs

[2017-01-03 02:03] D00Med commented on #1
Sure, is this for the sheep?

[2017-01-03 02:04] tobyplowy commented on #1
Yes

[2017-01-03 02:04] tobyplowy commented on #1
I should be Done in around 10 minutes ( hopefully)

[2017-01-03 02:06] D00Med commented on #1
Ok then. I thought you wanted to do the texture :S

[2017-01-03 02:20] tobyplowy commented on #1
@D00Med sheep texture mapping is done

[sheep.zip](https://github.com/D00Med/LegendofMinetest/files/681609/sheep.zip)

[2017-01-03 02:20] tobyplowy commented on #1
@D00Med i did the mapping now you make the actual texture

[2017-01-03 02:21] D00Med commented on #1
Thanks, I really appreciate that you took the time to do that

[2017-01-03 02:24] tobyplowy commented on #1
@D00Med no problem hows the cow model going?

[2017-01-03 02:26] D00Med commented on #1
I'm done with fixing it.
I'm just making a texture for the deku scrub, and then I will do the sheep

[2017-01-03 02:29] tobyplowy commented on #1
@D00Med that's good

I will be going to bed now see you tomorrow

[2017-01-03 02:32] D00Med commented on #1
ok then, bye (I'll try and have the sheep ready)

[2017-01-03 02:36] tobyplowy commented on #1
@D00Med I want to ask one more thing when will you implement the new Boomerang model

Also about the sheep have you ever seen such perfect mapping XD

[2017-01-03 02:40] D00Med commented on #1
As soon as I finish improving the textures, probably today or tommorrow.
Haha, never :'D

[2017-01-03 02:42] tobyplowy commented on #1
new mimic textures
![mobs_mimic](https://cloud.githubusercontent.com/assets/16853304/21599036/92913522-d166-11e6-96c4-11995df69538.png)
![mobs_mimic2](https://cloud.githubusercontent.com/assets/16853304/21599037/92915ffc-d166-11e6-99c0-413233781c20.png)

[2017-01-03 02:43] D00Med commented on #1
Thanks

[2017-01-03 04:30] D00Med commented on #1
I have updated the update branch, the sheep are in.

[2017-01-03 08:17] tobyplowy commented on #1
new sheep textures
![mobs_sheep_wool](https://cloud.githubusercontent.com/assets/16853304/21602564/789e8dc0-d195-11e6-8b6f-7335b6262702.png)
![mobs_sheep_base](https://cloud.githubusercontent.com/assets/16853304/21602565/78b50802-d195-11e6-93c4-15f2a5d2a944.png)
![mobs_sheep_shaved](https://cloud.githubusercontent.com/assets/16853304/21602566/78cf8538-d195-11e6-9f12-511d1212d7d1.png)

[2017-01-03 08:49] D00Med commented on #1
Thanks, they look much better.
You're up late today, or is this early? (not sure about the time difference)

[2017-01-03 09:42] D00Med commented on #1
I've made a _really_ easy way to make npcs that give quests.
Each part of their quest definition is optional, although some don't work without other bits(ie: no reward text without a reward item)
`local obj = minetest.env:add_entity({x=pos.x+6, y=pos.y+3, z=pos.z+18}, "mobs_npc:npc_custom")
				local npc = obj:get_luaentity()
				npc.text = "This is what they say when you right-click"
				npc.rewa

[2017-01-03 09:44] D00Med commented on #1
This means that if you have any suggestions for npcs with:
1. text to say
2. items to give
or 3. item trading
Then let me know and I can add it easily.

[2017-01-03 17:18] tobyplowy commented on #1
@D00Med Something NPCs can say is gee it Sure is boring around here

[2017-01-03 17:22] tobyplowy commented on #1
It was late I cuddent Sleep :/

[2017-01-03 20:06] D00Med commented on #1
Or they could say 'wow this subgame is so exciting, D00Med and Toby are amazing' xD

[2017-01-03 20:30] tobyplowy commented on #1
Lol

[2017-01-03 20:31] tobyplowy commented on #1
@D00Med in case you didn't know it that's actually a reference ( Just Google It gee it Sure is boring around here)

[2017-01-03 20:35] D00Med commented on #1
Oh dear... :'D

[2017-01-03 20:35] tobyplowy commented on #1
@D00Med I don't want to Sound like a douchebag or Anything but if we work Together thers some real cool stuff that happens ( We Are Good Team!) And that is a understatement

[2017-01-03 20:37] tobyplowy commented on #1
@D00Med

https://youtu.be/GS19yKx67U4

[2017-01-03 20:40] D00Med commented on #1
I can't help wondering what the developers of that thought.

[2017-01-03 20:41] tobyplowy commented on #1
@D00Med lol have you seen the amazing camera angles in the game

[2017-01-03 20:43] tobyplowy commented on #1
@D00Med Just try to watch this for one minute And don't Laugh It's Impossible https://youtu.be/Y4SLjLen7-c

[2017-01-03 20:46] tobyplowy commented on #1
@D00Med also the sheep seem to have no walking animation

[2017-01-03 20:50] D00Med commented on #1
Definitely impossible xD
I think I fixed that :S

[2017-01-03 20:52] tobyplowy commented on #1
@D00Med wait let me test the latest unstable

[2017-01-03 20:53] tobyplowy commented on #1
@D00Med ok its fixed in the latest unstable

[2017-01-03 20:55] D00Med commented on #1
Ok, that's good.
I added bushes and coral, but the bushes are different to the ones in minetest_game

[2017-01-03 20:55] tobyplowy commented on #1
@D00Med will look

[2017-01-03 20:56] tobyplowy commented on #1
@D00Med also I really love to do Minecart model!
Thank you for adding it!

[2017-01-03 20:57] tobyplowy commented on #1
Also the sheep look so good

Hows the cow doing?

[2017-01-03 20:58] tobyplowy commented on #1
@D00Med also I have a question would you be interested in already making a small base game for our next game if you want to make a second one of course

[2017-01-03 21:02] D00Med commented on #1
That's good. I still haven't animated it.
Hmm not until I've finished(or very nearly finished) this one.

[2017-01-03 21:02] tobyplowy commented on #1
@D00Med ok

[2017-01-03 21:04] D00Med commented on #1
I think I do want to make a second one, it'd be cool to have a fantasy themed subgame like you suggested.
Also, any ideas on how to make mining more exciting?

[2017-01-03 21:06] tobyplowy commented on #1
@D00Med mining more exciting hummmm give me a sec to think about it

[2017-01-03 21:10] tobyplowy commented on #1
@D00Med I'm going to test game play

[2017-01-03 21:12] tobyplowy commented on #1
@D00Med it's dangerous to go alone take this!... I've said that already XD

[2017-01-03 21:20] D00Med commented on #1
Ok then.
Yeah I added that xD

[2017-01-03 21:23] tobyplowy commented on #1
@D00Med I just found redead but it doesn't seem to hurt me or kill me thow it just seems to walk in my direction forever

[2017-01-03 21:28] D00Med commented on #1
That's odd

[2017-01-03 21:30] tobyplowy commented on #1
@D00Med would you be interested in making a new Apple texture ( the one we have now looks a bit like a paprika http://www.hotel-r.net/im/hotel/fr/paprika-1.jpg)

[2017-01-03 21:32] tobyplowy commented on #1
@D00Med  also if you sit on a chair and move Around Without clicking The chair you will float

[2017-01-03 21:37] tobyplowy commented on #1
@D00Med also can you make the hunger go down fastrer

[2017-01-03 21:55] D00Med commented on #1
Yeah I said I would yesterday. Haha yeah isn't it amazing? :'D I will try to fix it.
Yeah I could. I will be away for a while though, I have to go to town for a few things.

[2017-01-03 21:57] tobyplowy commented on #1
@D00Med OK

 yes it is XD

[2017-01-03 21:59] D00Med commented on #1
I found out...there are _bottled_ apples in A Link Between Worlds :S

[2017-01-03 22:02] tobyplowy commented on #1
WTF more like link on crack If You ask me XD

[2017-01-03 22:03] D00Med commented on #1
Have you played it?
I haven't, it looks pretty weird though

[2017-01-03 22:05] tobyplowy commented on #1
@D00Med no but the Apple thing is funny

[2017-01-03 22:06] D00Med commented on #1
Ok.
It'd be cool to make the spinner

[2017-01-03 22:07] tobyplowy commented on #1
@D00Med true

[2017-01-03 22:10] tobyplowy commented on #1
@D00Med the game is fun to play in survival that's a good sign!

[2017-01-03 22:11] D00Med commented on #1
Does it work ok in multiplayer?

[2017-01-03 22:12] D00Med commented on #1
Also what biome should I put a potion shop in?(not at all inspired by MC's witch huts, not at all)

[2017-01-03 22:13] D00Med commented on #1
Also I'm leaving for probably 3 or 4 hours, talk later.

[2017-01-03 22:15] tobyplowy commented on #1
@D00Med

I have not tested in multiplayer yet ( am trying to contact Sam and Noah)

[2017-01-03 22:18] tobyplowy commented on #1
@D00Med

Lol I think you should put them in the swamps and the biomes with the orange trees also they have a lot of apples) oh sorry paprika's ;D

[2017-01-03 23:48] tobyplowy commented on #1
@D00Med [this subgame](https://forum.minetest.net/viewtopic.php?t=13181) has a inventory similar to my tabed inventory concept image Maybe you can use the code from That?

[2017-01-04 00:55] tobyplowy commented on #1
@D00Med new stalagmite textures
![hyrule_mapgen_stalagmite1](https://cloud.githubusercontent.com/assets/16853304/21628578/d431bfc8-d220-11e6-8be7-8807c42c4386.png)
![hyrule_mapgen_stalagmite2](https://cloud.githubusercontent.com/assets/16853304/21628577/d431a7c2-d220-11e6-95ce-08a350ce7970.png)
![hyrule_mapgen_stalagmite3](https://cloud.githubusercontent.com/assets/16853304/21628579/d431fa92-d220-

[2017-01-04 02:25] D00Med commented on #1
I updated the texture to be more like an apple. Ooh nice, it does look pretty specific though.
Thanks

[2017-01-04 02:35] tobyplowy commented on #1
@D00Med i made a sloth XD

 ![sloth](https://cloud.githubusercontent.com/assets/16853304/21630144/cbb65260-d22e-11e6-9135-df6a2d12a9e3.png)

[2017-01-04 02:37] D00Med commented on #1
Woah, that's really cool xD

[2017-01-04 02:37] D00Med commented on #1
It'd be interesting trying to code a sloth mob

[2017-01-04 02:38] tobyplowy commented on #1
@D00Med do you know why he's green

[2017-01-04 02:39] D00Med commented on #1
Moss?

[2017-01-04 02:39] tobyplowy commented on #1
@D00Med if you want I can give you the model but I don't think it's Something that will fit in the legend of minetest

[2017-01-04 02:41] D00Med commented on #1
What about dmobs?

[2017-01-04 02:41] tobyplowy commented on #1
@D00Med Yes it's moss now try to not Laugh When I say this but its because they move so slow moss grows on them (alge)

[2017-01-04 02:42] tobyplowy commented on #1
http://i1.wp.com/www.vippanamatours.com/wp-content/uploads/2015/10/sloth-green-algae-vip-panama-tours.jpg?resize=700%2C465

http://www.slothville.com/wp-content/uploads/2013/10/Soth_photo7.jpg

[2017-01-04 02:43] D00Med commented on #1
http://www.slothville.com/wp-content/uploads/2013/10/Soth_photo7.jpg
This one looks like a ninja sloth. It specialises in slow and painful deaths xD

[2017-01-04 02:44] tobyplowy commented on #1
@D00Med

Yes that's good, but on one condition that you make the other models only out of cubes and pannels

[2017-01-04 02:46] D00Med commented on #1
Aaah I've been considering doing that but...it would take a long time O_O

[2017-01-04 02:46] tobyplowy commented on #1
@D00Med I can help

[2017-01-04 02:47] tobyplowy commented on #1
You already have a new elephant

[2017-01-04 02:48] tobyplowy commented on #1
@D00Med
[sloth.zip](https://github.com/D00Med/LegendofMinetest/files/683830/sloth.zip)
[elephant.zip](https://github.com/D00Med/LegendofMinetest/files/683832/elephant.zip)

[2017-01-04 02:52] tobyplowy commented on #1
@D00Med maybe you can make it a new mod called toby109tt and d00med mobs

[2017-01-04 02:54] D00Med commented on #1
Aww but the models _make_ that mod.
I'd rather do them myself, but still thanks for the models.
Oh by the way, I think you might like this: https://github.com/D00Med/orcinvasion

That's not a bad idea actually, you can never have too many mobs.

[2017-01-04 02:56] tobyplowy commented on #1
toby109tt and d00med men we should definitely copyright that name XD

[2017-01-04 02:58] tobyplowy commented on #1
@D00Med I think you should keep d00med mobs how it is now redoing stuff and forcing the new style will just ruin all of it I think it would be better if it's a new mod I guess it's up to you now (I whant DT mobs to be a new mod)

[2017-01-04 03:00] D00Med commented on #1
Yeah, I think that's a good idea. But there's still that potential subgame to think about. And I want to update vehicles and scifi_nodes after this.
I've finished animating the cow.

[2017-01-04 03:03] tobyplowy commented on #1
@D00Med Well I think DT mobs shuld be part of our next subgame

[2017-01-04 03:05] tobyplowy commented on #1
@D00Med I can't wait to see the cow

[2017-01-04 03:10] D00Med commented on #1
Yeah good idea.
Should be done pretty soon.

[2017-01-04 03:14] tobyplowy commented on #1
@D00Med so what should I work on now?

[2017-01-04 03:16] D00Med commented on #1
:[ hmm, I was thinking maybe there should be an item collection chain for the quest npc's.
Could you come up with some items for that?(textures or just ideas)

[2017-01-04 03:20] tobyplowy commented on #1
@D00Med what do you mean with item collection chain

[2017-01-04 03:22] tobyplowy commented on #1
@D00Med also can you make a new Gannon model

[2017-01-04 03:23] D00Med commented on #1
Like in ocarina of time, you have to get one thing from one npc and give it to another in return for something to give another...etc. etc.
Yeah I will.

[2017-01-04 03:29] tobyplowy commented on #1
@D00Med I dount really know maybe you have to get one green Rupee block and in return you get a blue ocarina :/

[2017-01-04 03:31] D00Med commented on #1
Yeah like that, but with more obscure items.
hmm didn't you ever get the biggoron sword?

[2017-01-04 03:33] tobyplowy commented on #1
@D00Med and with that ocarina you can Play a song for Another NPC and that npc will Give You a letter you have to give to the store trader and he will give you a item to spawn your first boss

[2017-01-04 03:35] tobyplowy commented on #1
Yes I did but it's a useless piece of shit it just breaked

[2017-01-04 03:38] D00Med commented on #1
Yeah that sounds good :)
No that was the giant's knife(and anyway the broken bit has its uses).
http://zelda.wikia.com/wiki/Quest_for_Biggoron's_Sword

[2017-01-04 03:41] tobyplowy commented on #1
@D00Med Anything Else I can do?

[2017-01-04 03:44] D00Med commented on #1
I don't know. Could you make a spinner model?

[2017-01-04 03:45] tobyplowy commented on #1
I will try

[2017-01-04 03:48] D00Med commented on #1
Thanks

[2017-01-04 03:51] tobyplowy commented on #1
@D00Med what are you working on at the moment?

[2017-01-04 03:55] tobyplowy commented on #1
@D00Med also how should I make the rowndnes of the spinner (do I just make it a cube?)

[2017-01-04 03:57] D00Med commented on #1
The cow.
You could do lots of cubes at different angles to make it somewhat like a circle, and put a plane on the top and bottom with a circle textures.

[2017-01-04 03:59] tobyplowy commented on #1
@D00Med eh I guess that's the best way :/

[2017-01-04 04:00] D00Med commented on #1
Have fun :P

[2017-01-04 04:01] tobyplowy commented on #1
@D00Med oh you :D

[2017-01-04 04:06] D00Med commented on #1
https://s30.postimg.org/56rwsagxd/blindcow.png
Blind cow sees into your soul

[2017-01-04 04:07] tobyplowy commented on #1
@D00Med lol

[2017-01-04 04:09] tobyplowy commented on #1
@D00Med also I dount think the spinner is gonna work ( I'm not really in the mood and it's really hard to make) sorry

[2017-01-04 04:11] D00Med commented on #1
Ok then, that's ok

[2017-01-04 04:13] tobyplowy commented on #1
I think I'm going to go I'm really tired see you later

[2017-01-04 04:16] D00Med commented on #1
ok then, bye

[2017-01-04 04:42] D00Med commented on #1
https://s30.postimg.org/reggaxf5t/spinner.png
Spinner

[2017-01-04 05:19] D00Med commented on #1
Could you make a new boat model?

[2017-01-04 09:16] D00Med commented on #1
The textures are bad, but I made a windmill!
https://s30.postimg.org/mri4fxjbl/screenshot_20170104_191541.png

[2017-01-04 20:20] tobyplowy commented on #1
@D00Med it looks cute

[2017-01-04 20:22] tobyplowy commented on #1
@D00Med hey I've been really busy the last couple of days and I'm really struggling to help the project sorry for that but I won't be able to do anything today but I can still speak ( Would you be able to do the rest of the models the volvaga model the Ganon model and the boat model) again sorry

[2017-01-04 20:34] D00Med commented on #1
That's fine, really, especially considering how slow I am to get things done. I think this subgame is very much nearing completion.

[2017-01-04 20:38] tobyplowy commented on #1
@D00Med also really sorry but I feel like I'm some kind of disappointment but life has to take over it shouldn't take more than 2 or 3 days and then I can help again ( thank you for your respect for me I appreciate it)

[2017-01-04 20:40] tobyplowy commented on #1
@D00Med also i made better textures for the shopkeeper and clay a copple of days back but i forgot to give them to you

![default_clay](https://cloud.githubusercontent.com/assets/16853304/21658331/7396de18-d2c6-11e6-9342-da75c25a73ea.png)
![mobs_shopkeeper](https://cloud.githubusercontent.com/assets/16853304/21658330/73948ea6-d2c6-11e6-8884-0c2a07db5141.png)

[2017-01-04 20:40] D00Med commented on #1
Are you kidding? When you first suggested working with me, I thought you might be a bit of a pain, but it's been really good, and you've already made so many models(and taught me how to make better models).
Ok then, no problem.

[2017-01-04 20:41] D00Med commented on #1
Thanks for the textures

[2017-01-04 20:43] tobyplowy commented on #1
@D00Med

it feels good to hear that thanks :D

[2017-01-04 21:46] tobyplowy commented on #1
@D00Med

No problem also sorry for the late reply

[2017-01-04 21:48] D00Med commented on #1
![render](https://cloud.githubusercontent.com/assets/19916704/21660480/3d4d41f8-d31b-11e6-9376-34dc3b05f4aa.png)

[2017-01-04 21:48] D00Med commented on #1
woah that comes out weird :S

[2017-01-04 21:52] D00Med commented on #1
That's ok

[2017-01-04 21:56] tobyplowy commented on #1
@D00Med

 why is he transparent also he looks a bit like a zombie in that position (it's a transparent zombie scrub the most dangerus kind XD )

[2017-01-04 22:15] tobyplowy commented on #1
@D00Med hows the cow doing?

[2017-01-04 22:17] D00Med commented on #1
Done, it's in the update branch

[2017-01-04 22:18] tobyplowy commented on #1
@D00Med when I have time I will take a look :)

[2017-01-04 22:23] D00Med commented on #1
Ok. I added a very experimental fade in too, I think it looks alright.

[2017-01-05 02:18] tobyplowy commented on #1
@D00Med have anny news?

[2017-01-05 02:22] D00Med commented on #1
Not really, I finished the business scrub

[2017-01-05 02:23] tobyplowy commented on #1
@D00Med OK :D

[2017-01-05 02:25] D00Med commented on #1
I'll get one of the bosses done next

[2017-01-05 02:34] tobyplowy commented on #1
@D00Med nice what one?

[2017-01-05 02:36] D00Med commented on #1
volvagia

[2017-01-05 02:37] tobyplowy commented on #1
Ok cool

[2017-01-05 02:59] D00Med commented on #1
sorry I'm not talking much

[2017-01-05 03:02] tobyplowy commented on #1
@D00Med for me the same ( I'm also not really Talking much)

[2017-01-05 03:07] D00Med commented on #1
ok. I've finished the cubes for the model

[2017-01-05 03:09] tobyplowy commented on #1
@D00Med the volvagia?

[2017-01-05 03:11] tobyplowy commented on #1
@D00Med I have Little tip to work faster ( if you make your first cube you just texture it and than you just duplicate the cube And then Just move Around The Texture It's a lot faster than Just mapping it afterwards

[2017-01-05 03:12] D00Med commented on #1
yeah.
O,o wow I wish I'd thought about that when I started, thanks!

[2017-01-05 03:14] tobyplowy commented on #1
@D00Med XD

[2017-01-05 03:16] tobyplowy commented on #1
@D00Med First you had to learn me stuff But Now I'm Learning you stuff XD ( I'm nowhere near as good as you are with blender not yet mwahahahaha)

[2017-01-05 03:17] D00Med commented on #1
*teach by the way not learn

[2017-01-05 03:18] tobyplowy commented on #1
@D00Med sorry :/

[2017-01-05 03:19] D00Med commented on #1
all good

[2017-01-05 03:26] tobyplowy commented on #1
@D00Med the legend of minetest Has Changed a lot sins before I arrived

[2017-01-05 03:29] D00Med commented on #1
Yeah it certainly has

[2017-01-05 03:31] tobyplowy commented on #1
@D00Med I hope the next game will be as awesome as the legend of minetest

[2017-01-05 03:37] tobyplowy commented on #1
@D00Med see you later and again Sorry that I cudent do Anything Tonight :/

[2017-01-05 03:40] D00Med commented on #1
ok, that's alright. bye

[2017-01-05 21:28] D00Med commented on #1
Hello Toby.
I will be away today, just letting you know.

[2017-01-05 22:53] ExcaliburZero opened #6 "Amor not shown after twilight usage"
If the player uses the Twilight Crystal twice, they return to their normal model, however their armor does not visually appear on the character.

[2017-01-05 23:03] tobyplowy commented on #1
@D00Med OK

[2017-01-06 06:36] D00Med commented on #6
Oh that's a problem, thanks for pointing it out.
I think I'll be removing the model change anyway, since it's buggy, the model isn't that great, and it doesn't work properly in multiplayer.

[2017-01-06 20:42] tobyplowy commented on #1
@D00Med sorry but I won't have any time today to help, but tomorrow I will :)

[2017-01-06 21:06] D00Med commented on #1
Ok, no problem.

[2017-01-06 21:08] tobyplowy commented on #1
@D00Med Do you have time to work on the project today?

[2017-01-06 21:24] D00Med commented on #1
Yeah I want to finish the volvagia model.
But I do have other things to do as well.

[2017-01-06 21:26] tobyplowy commented on #1
@D00Med will you have time tomorrow because I will have time

[2017-01-06 21:27] D00Med commented on #1
Yeah I think I will

[2017-01-06 21:31] tobyplowy commented on #1
@D00Med nice, hey I will be going now if your ready with the vulfaga model Make sure to post a screenshot

[2017-01-06 21:37] D00Med commented on #1
Ok then

[2017-01-07 18:47] tobyplowy commented on #1
@D00Med  I'm really tired so I'm already going to sleep I'm really just not functioning properly ( I know I Promised to help Today but It Won't work, sorry :/ (also i have tried to make a king of the red lions boat but it looks like shit XD )

[2017-01-07 19:34] D00Med commented on #1
Ok then, that's ok.

[2017-01-07 20:04] D00Med commented on #1
Last night I had a cool idea for a subgame. You said you wanted to make a fantasy themed subgame, and I was wondering how the game could be more interesting above ground. This is what I thought, in the subgame, instead of trying to survive as usual and just build stuff with little or no purpose(well that's what I do anyway), players could build their home and then work their way up to a village, a

[2017-01-08 01:05] D00Med commented on #1
https://s30.postimg.org/tmpwmba5t/volvagia.png

[2017-01-08 05:45] tobyplowy commented on #1
@D00Med that model looks amazing!

[2017-01-08 05:49] D00Med commented on #1
Thanks.
The animation isn't very good though :S

[2017-01-08 05:55] tobyplowy commented on #1
@D00Med About The Village thing it Sounds Amazing It really does it reminds me of The Mechanic from terraria but if you add that can you please make it 100% optional so If you don't want to do it villagers Don't get Mad At You

Also I have been thinking on the new subgame as well lately here are some of my ideas (these are Just My ideas If you have Something better, than say it)

I have a name for

[2017-01-08 06:19] D00Med commented on #1
Yeah too many angry villagers wouldn't be good :P
Haha nice name xD
Oh ok, that's an interesting idea, that might be better for a modpack, what do you think? Since it would only require mobs, ores and craftitems, tools, and maybe mapgen?
Personally I'm not that interested in a dinosaur theme, but if that's what you want then I will help :)

[2017-01-08 06:23] tobyplowy commented on #1
@D00Med I really like the Village Idea and I really like the Fantasy stuff but I whant Fantasy To Look amazing something that is super badass ( and what's more badass than riding a fucking T Rex)

The answer is noting!

[2017-01-08 06:26] D00Med commented on #1
Why not do both? :D

[2017-01-08 06:27] tobyplowy commented on #1
@D00Med

Just emagine them all standing there in The Thousands with there Pitchforks and torches at your front door ( well that's not the biggest problem you have it's the lag that's created by the amazing mob ai mod XD)

[2017-01-08 06:27] tobyplowy commented on #1
@D00Med

 YES!!!!

[2017-01-08 06:28] D00Med commented on #1
I'm updating the nodebox trees mod at the moment by the way

[2017-01-08 06:29] tobyplowy commented on #1
@D00Med amazing

[2017-01-08 06:36] tobyplowy commented on #1
I really Wanted to say Sorry I Know It's Not important for you but it is quite annoying for me (sorry that I'm so useless The Last couple of Days I'm not going to say the exact reasons why but it's really annoys me hopefully this doesn't take too long it shouldn't be and hopefully I can be back in the game soon XD)

Also Should I already start work on the next game ( so I can take work slowly and

[2017-01-08 06:44] D00Med commented on #1
Ok, it's alright. I have had other things to do the last few days anyway.
If you like, but first I'd like to check some things.
So what sort of technology/setting should be in this subgame? like if we were to include the DNA thing, it would be quite futuristic. Or we could just make it the usual kind of pre-industrial setting. Or maybe we could combine all the ideas so far and have a post apocalyp

[2017-01-08 06:54] tobyplowy commented on #1
@D00Med about the art style I think it should be on par with the Minecraft Style pixely (16x16 style) but with realistic  colors like my elephant model ( making the textures higher resolution is a bad idea because it slows down bevelopmet time horribly (it already takes me 5 howers to make a elephant model and texture XD ) and we both have different styles and you can already see that in the pixel

[2017-01-08 06:57] tobyplowy commented on #1
Yes

Also about technology i think that should be a steampunk like Style (electicety is steam) having ridiculously big machines to run stupidly small things

[2017-01-08 06:58] tobyplowy commented on #1
@D00Med I will also try to make a velociraptor model soon

[2017-01-08 07:00] D00Med commented on #1
Yeah 16x16 is the way to go.
"I'm not a fan of the apocalyptic style" - I'm glad because I'm liking the idea of a fantasy setting more and more(with dinosaurs :'D). Ok sounds good, if there's one thing I like it's ridiculous machines.
Hmm I have an idea, but I think it's best conveyed visually, I will draw a picture and show you what I'm thinking of. ok cool.

[2017-01-08 07:03] tobyplowy commented on #1
Eeeeh okay I'm already going to prepare my XD

[2017-01-08 07:08] D00Med commented on #1
This isn't it, just a thing, how ridiculous can these steampunkish things get?
http://img06.deviantart.net/7908/i/2016/274/9/5/steam_dragon_by_wingedjackal-dajjvtv.png

[2017-01-08 07:10] tobyplowy commented on #1
@D00Med wait did you just draw that

Also (with steampunk I ment things like a lot of gears and big machines that run on steam

[2017-01-08 07:11] D00Med commented on #1
No, that's an old painting I did.
I'm still drawing my 'idea'
Yeah, cool :D

[2017-01-08 07:11] tobyplowy commented on #1
I miss spelld draw

[2017-01-08 07:13] tobyplowy commented on #1
@D00Med the dragon looks nice

[2017-01-08 07:14] D00Med commented on #1
thanks

[2017-01-08 07:17] tobyplowy commented on #1
@D00Med also is it Possible to make mobs not deSpawn (it can already be like that I'm Not really sure)

[2017-01-08 07:18] D00Med commented on #1
Why would that be a good thing?

[2017-01-08 07:23] tobyplowy commented on #1
@D00Med you don't want your T-Rex (and other dinos) to be Gone right

[2017-01-08 07:24] tobyplowy commented on #1
@D00Med also I like to collect stuff and It Would Be cool to make a zoo with all the animals

[2017-01-08 07:24] D00Med commented on #1
But don't pets not de-spawn anyway?

[2017-01-08 07:26] tobyplowy commented on #1
@D00Med look at this comment

[2017-01-08 07:26] D00Med commented on #1
Lol yeah I saw, it would.
Have you seen taikedz's server? I think it has that sort of goal

[2017-01-08 07:30] tobyplowy commented on #1
@D00Med

No I should check it out but I'm not really a social person also the models probably look Ike crap ( no offense intended)

[2017-01-08 07:31] D00Med commented on #1
Fair enough.
"the models probably look Ike crap" lol, it has dmobs xD

[2017-01-08 07:32] tobyplowy commented on #1
@D00Med ow sorry

[2017-01-08 07:33] D00Med commented on #1
Making a second subgame should be a lot faster than making this one was.

[2017-01-08 07:33] tobyplowy commented on #1
@D00Med why?

[2017-01-08 07:35] D00Med commented on #1
More experience.

[2017-01-08 07:36] tobyplowy commented on #1
@D00Med also how do I make those cool 3d renders of the models I make (if I go in cycles render I just get a gray model

[2017-01-08 07:38] tobyplowy commented on #1
@D00Med

You or me :/ also I'm just really happy that I'm not restricted to a game (that gives us more creative freedom) more like freeD00med hahahaha sorry

[2017-01-08 07:40] D00Med commented on #1
Use blender render, make a light source, enable environment lighting, and change to rendered view(same as if you were changing to texture or wireframe).
I make the images using a camera(set to the view with ctrl+alt+0), and render>render image

That might not all be correct. Would it help if I made some clear instructions for the process I use for blender? Also, behold the mighty steam powered din

[2017-01-08 07:42] tobyplowy commented on #1
How do I enable environment lighting?

[2017-01-08 07:43] tobyplowy commented on #1
@D00Med

It is so beautiful :')

[2017-01-08 07:46] tobyplowy commented on #1
Yeh maybe (but it will take a while to type out maybe you should do it later)

[2017-01-08 07:50] tobyplowy commented on #1
@D00Med velociraptor concept what do you think (note the block at the bottom is a full minetest block)
![build test](https://cloud.githubusercontent.com/assets/16853304/21748206/51afda6e-d57f-11e6-91bb-ff98f9f52868.png)

[2017-01-08 07:53] D00Med commented on #1
Looks really good :D
![dinosaur](https://cloud.githubusercontent.com/assets/19916704/21748214/46d8ce92-d5cb-11e6-939a-448b4fa71773.PNG)

[2017-01-08 08:02] tobyplowy commented on #1
How do I get that bar I dount have it (I only get it when I start a new blender window)

[2017-01-08 08:03] tobyplowy commented on #1
@D00Med sorry that I'm such a noob

[2017-01-08 08:03] tobyplowy commented on #1
'N00b

[2017-01-08 08:08] D00Med commented on #1
right click one of the borders, you should see "split area" appear in a menu, press that and you should get two copies of the 3d view, then you can click the little cube icon in the corner and change it to 'properties'.
Also you need to be in the default view not in the uv editing view.

[2017-01-08 08:13] tobyplowy commented on #1
@D00Med OK now I dount have the option to make a Light in the Creation menu

[2017-01-08 08:16] D00Med commented on #1
creation menu? oh are you still in edit mode?

[2017-01-08 08:16] tobyplowy commented on #1
Now I have a white model but I have shading

[2017-01-08 08:17] tobyplowy commented on #1
@D00Med

Waw I'm such an idiot :/

[2017-01-08 08:24] tobyplowy commented on #1
@D00Med the raptor model is done now the texture D:
![loloraptor](https://cloud.githubusercontent.com/assets/16853304/21748368/1317e10c-d584-11e6-8b2f-eea5e1c45d19.png)

[2017-01-08 08:24] D00Med commented on #1
The only reason I knew was because I did the exact same thing this morning :'D
The white model can be fixed by just going into texture paint mode quickly, going back to object mode, then going to properties, the texture tab(checkered bit), and then changing the texture to the right one.

[2017-01-08 08:24] D00Med commented on #1
Nice :D

[2017-01-08 08:28] tobyplowy commented on #1
50%50 refrence and model (i did the arms longer so i dount get streshed pixels)
![loloraptor](https://cloud.githubusercontent.com/assets/16853304/21748396/b10fc6ea-d584-11e6-9902-63256cc74e74.png)

[2017-01-08 08:29] D00Med commented on #1
could you make new wool textures for legend of minetest?
The current ones look a bit ugly imo, they need to be more simple

[2017-01-08 08:29] D00Med commented on #1
nice!

[2017-01-08 08:29] tobyplowy commented on #1
@D00Med

yes i can anny refrences i shuld use?

[2017-01-08 08:32] D00Med commented on #1
um not really. I like this https://raw.githubusercontent.com/D00Med/horrorpack/master/wool_red.png
but it doesn't tile very well

[2017-01-08 08:36] tobyplowy commented on #1
@D00Med is it good if I make the texture and you do the re colors

[2017-01-08 08:42] D00Med commented on #1
Sure, just don't do yellow first.

[2017-01-08 08:42] tobyplowy commented on #1
Why

[2017-01-08 08:43] tobyplowy commented on #1
Favorite color?

[2017-01-08 08:43] tobyplowy commented on #1
@D00Med is this better?
![wool_white](https://cloud.githubusercontent.com/assets/16853304/21748502/eabdfc3e-d586-11e6-835c-df41e7d529ac.png)

[2017-01-08 08:45] D00Med commented on #1
no, it's just better to use orange instead of darker colors for yellow, but then I won't be able to just change the hue for the other colors. wow that looks great

[2017-01-08 08:46] tobyplowy commented on #1
Thx

[2017-01-08 08:50] tobyplowy commented on #1
@D00Med shuld I add feathers to the vilosiraptor arms ( apparently dinosaurs have feathers yes even T-Rexes I think it looks less cool but you can choose)

[2017-01-08 08:51] D00Med commented on #1
Up to you, I think it looks cool

[2017-01-08 08:53] tobyplowy commented on #1
@D00Med ok i will try to add feathers but the trex will not have feathers XD

[2017-01-08 08:55] tobyplowy commented on #1
@D00Med look at this ting https://i.kinja-img.com/gawker-media/image/upload/s--msVNlurs--/c_scale,fl_progressive,q_80,w_800/813266302148042132.jpg

now look at this thing http://img10.deviantart.net/4a89/i/2015/276/8/7/tyrannosaurus_rex_by_pabluratops-d9bv703.jpg

number 2 is a 1000 tymes cooler XD

[2017-01-08 08:57] tobyplowy commented on #1
@D00Med no wonder they are all dead is because of there terrible Sense of Fashion XD https://i.kinja-img.com/gawker-media/image/upload/s--msVNlurs--/c_scale,fl_progressive,q_80,w_800/813266302148042132

[2017-01-08 08:58] D00Med commented on #1
I see your point xD

[2017-01-08 09:02] D00Med commented on #1
I can't remember if I asked, do you like the fade I added when you join the game?

[2017-01-08 09:03] D00Med commented on #1
![sign](https://cloud.githubusercontent.com/assets/19916704/21748619/1b772168-d5d5-11e6-8e9d-565e4fe2b9e4.PNG)
It's a sign!

[2017-01-08 09:05] tobyplowy commented on #1
@D00Med

will test

oh no

[2017-01-08 09:06] D00Med commented on #1
Ok then.

[2017-01-08 09:06] tobyplowy commented on #1
@D00Med teddyNOsaurus rex https://i.kinja-img.com/gawker-media/image/upload/s--msVNlurs--/c_scale,fl_progressive,q_80,w_800/813266302148042132

[2017-01-08 09:08] tobyplowy commented on #1
@D00Med the fade is nice, but I didn't even notice it before you told me about it XD

[2017-01-08 09:09] tobyplowy commented on #1
I like the new worktable texture

[2017-01-08 09:09] D00Med commented on #1
Yeah it is hard to notice, although I keep starting the game and mistakenly thinking it is night

[2017-01-08 09:21] D00Med commented on #1
I'm going to log off now, it's getting late.
I'll talk later maybe.
also tomorrow(or maybe just later for you), I will be away.

[2017-01-08 09:23] tobyplowy commented on #1
Ok

[2017-01-08 18:18] tobyplowy commented on #1
velociraptor
![loloraptor](https://cloud.githubusercontent.com/assets/16853304/21752376/20eec75c-d5d7-11e6-9298-40e594bb3ad9.png)
velociraptor wih feathers
![loloraptor](https://cloud.githubusercontent.com/assets/16853304/21752378/26986082-d5d7-11e6-9a6e-d0ec94d0038c.png)

[2017-01-08 18:19] tobyplowy commented on #1
minetestia logo
![minetestia](https://cloud.githubusercontent.com/assets/16853304/21752390/47d21dba-d5d7-11e6-9664-c3390ecbebfe.png)

[2017-01-08 18:19] tobyplowy commented on #1
@D00Med im not so good at fonts XD

[2017-01-08 18:57] tobyplowy commented on #1
@D00Med I will go now :D I hope you will be online tomorrow

[2017-01-09 12:36] tobyplowy commented on #1
@D00Med mammoeth and elephant
![mammoeth](https://cloud.githubusercontent.com/assets/16853304/21766739/849098be-d670-11e6-885a-121b3a56d8ea.png)

[2017-01-09 19:57] D00Med commented on #1
Wow, these all look really great!
I'm making slow progress finishing off the models for legend of minetest.
I'm hoping to get the goron done today

[2017-01-09 20:04] tobyplowy commented on #1
@D00Med nice

[2017-01-09 20:05] tobyplowy commented on #1
@D00Med i did my best to make the mammoth look like the elephant

[2017-01-09 20:09] tobyplowy commented on #1
@D00Med hey wuld it be possible to already make the minetestia repository so I can open an issue there ( I hate going this much offtopic and I'm the of topic king XD )

[2017-01-09 20:15] D00Med commented on #1
Ok I will

[2017-01-09 20:16] tobyplowy commented on #1
@D00Med thanks

[2017-01-09 20:19] tobyplowy commented on #1
@D00Med I will be going now see you tomorrow

[2017-01-09 20:22] tobyplowy commented on #1
Also can you send me a link if you make the minetestia repository

[2017-01-09 20:23] D00Med commented on #1
I will, bye

[2017-01-09 20:28] D00Med commented on #1
https://github.com/D00Med/minetestia/issues/1

[2017-01-09 20:30] tobyplowy commented on #1
@D00Med I should have more time tomorrow but not enough time to make models is there anything I can do for the legend of minetest? Like textures

Also thanks

[2017-01-09 20:32] D00Med commented on #1
Could you make a texture for the moblin? or the flower pots?
You're welcome

[2017-01-10 05:17] tobyplowy commented on #1
@D00Med flower pots?

[2017-01-10 05:34] D00Med commented on #1
![xdecor_viola_pot](https://cloud.githubusercontent.com/assets/19916704/21794912/3c3832fe-d74a-11e6-817f-d1364a518506.png)
These things

[2017-01-10 05:35] tobyplowy commented on #1
Oh yeh that OK I will try

[2017-01-10 05:37] tobyplowy commented on #1
@D00Med wuldent it be better if there a 3d model (i shuld be able to make it it's not so Time consuming)

[2017-01-10 06:23] D00Med commented on #1
Ok.
Yeah it would :D

[2017-01-10 06:25] tobyplowy commented on #1
@D00Med shuld I make a flowerpot model?

[2017-01-10 06:27] D00Med commented on #1
Yes please.

[2017-01-10 06:29] D00Med commented on #1
I'm going now, talk later.
I'll try to get some things done tomorrow, today I didn't really do anything.

[2017-01-10 08:27] tobyplowy commented on #1
@D00Med  flowerpot model is done (NOTE the cube at the bottom is for scale porpusses it needs to be removed) [flowerpot.zip](https://github.com/D00Med/LegendofMinetest/files/695572/flowerpot.zip)

[2017-01-10 20:01] D00Med commented on #1
Great thanks

[2017-01-13 20:56] D00Med commented on #1
I added the flowerpots(with a few modifications).
Also, I changed the goron model

[2017-01-16 08:06] D00Med commented on #1
I've changed the beds mod so that beds are crafted with green wool.
Also, thunder works better now(the sky doesn't reset)

[2017-01-16 08:43] tobyplowy commented on #1
Nice

[2017-01-16 08:44] D00Med commented on #1
Nah that's boring :P I added hiploops though, that's a bit more exciting xD

[2017-01-16 08:47] tobyplowy commented on #1
@D00Med The New minetestia World gen is amazing ( isn't it super late for you?)

[2017-01-16 08:48] tobyplowy commented on #1
Oh wrong topic :/

[2017-01-16 08:49] tobyplowy commented on #1
Hiploops what is that?

[2017-01-16 08:56] D00Med commented on #1
I will have to check it.
It is pretty late, I'll be going to bed soon.
Hiploops:http://vignette2.wikia.nocookie.net/zelda/images/3/3f/Hiploop_(Majora's_Mask).png/revision/latest?cb=20100206144802

[2017-01-18 07:17] D00Med commented on #4
I've been adding buildings and villages to the game, but it's slow going and I'm not great at building stuff.
So, if you guys want to help, that'd be really great.
Otherwise I'm thinking of asking on the forums for people to make some buildings or dungeons.

[2017-01-20 20:24] D00Med commented on #4
@tobyplowy I'm thinking of improving the hookshot so that players can swing on it, would you be interested in this?(I was thinking it could be used for minetestia too)

[2017-01-20 20:26] tobyplowy commented on #4
@D00Med Let Me Guess you got this from https://www.reddit.com/r/Minetest/comments/5ovz7w/if_someone_was_to_make_a_super_awesome_subgame/

[2017-01-20 20:27] tobyplowy commented on #4
@D00Med I'm not sure If this Would Be useful I just want to point at something and fly at it but if it's implemented in a good way then yes I guess

[2017-01-20 20:29] tobyplowy commented on #4
@D00Med also are you going to work on the weapingwillow trees today?

[2017-01-20 20:34] D00Med commented on #4
I was already considering it, but seeing that made it more important ;)

Yeah I can at least do that(I just need another entity after the hook)
Yes I will work on the weeping willows

[2017-01-20 20:36] tobyplowy commented on #4
@D00Med Have You seen My latest comment on https://github.com/D00Med/minetestia/issues/1 it's going to be very useful in the future

[2017-01-20 20:48] D00Med commented on #4
I will have a look

[2017-01-22 20:24] tobyplowy commented on #1
@D00Med hey anything I can do for lomt

[2017-01-22 20:26] D00Med commented on #1
Yes actually, could you make some npc skins?

[2017-01-22 20:27] tobyplowy commented on #1
@D00Med I can try

[2017-01-22 20:27] tobyplowy commented on #1
@D00Med any references I should follow

[2017-01-22 20:33] D00Med commented on #1
This guy:
http://static.giantbomb.com/uploads/square_small/0/7395/2542205-8805185270-zelda.png

[2017-01-22 20:35] tobyplowy commented on #1
Ok

[2017-01-22 20:35] tobyplowy commented on #1
@D00Med Do you know whin the legend of Minetest will be done

[2017-01-22 20:36] tobyplowy commented on #1
A friend asked me

[2017-01-22 20:36] tobyplowy commented on #1
So I have to make the it's dangerous to go alone guy XD

[2017-01-22 20:38] D00Med commented on #1
Yeah xD
I don't know when it will be done, but hopefully it will be done soon.
There are a few more mobs to do(ganon, the dodongo, and finishing off bongo bongo), and I want to add more npc's and structures to the world. Then I think it will be ready.

[2017-01-22 20:43] tobyplowy commented on #1
@D00Med shuld I keep the original color pallet?

[2017-01-22 20:47] D00Med commented on #1
No, there are too few colors, do what you think will look the best

[2017-01-22 20:51] tobyplowy commented on #1
@D00Med ok

[2017-01-22 21:09] tobyplowy commented on #1
@D00Med is this good?
![old guy](https://cloud.githubusercontent.com/assets/16853304/22185996/76bcbe64-e0ef-11e6-830a-26db4fcabaef.png)

[2017-01-22 21:10] D00Med commented on #1
That's great :D

[2017-01-22 21:13] tobyplowy commented on #1
eny other stuf i can do

[2017-01-22 21:23] tobyplowy commented on #1
@D00Med is there any other stuff I should do?

[2017-01-22 21:24] D00Med commented on #1
Umm...I don't know.
I've been working on ganon
![ganon](https://cloud.githubusercontent.com/assets/19916704/22186154/ea48b12e-e13c-11e6-80d4-f4c3453622d5.PNG)
Could you texture this?

[2017-01-22 21:27] tobyplowy commented on #1
@D00Med im not shure That's A hell of a lot of work ( you should texture your beginning cube and just duplicate it thats way faster and easier than texturing it afterwards)

[2017-01-22 21:28] tobyplowy commented on #1
@D00Med Cool model bdw

[2017-01-22 21:30] D00Med commented on #1
Thanks. I did map out one cube and duplicate it, but I didn't start until I was halfway done.
But that's ok I will texture it.

[2017-01-22 21:30] tobyplowy commented on #1
@D00Med Any simple work I can do?

[2017-01-22 21:32] D00Med commented on #1
Yeah, there needs to be some rare drops for the enemies, so that they can be used for quests or difficult crafts

[2017-01-22 21:38] tobyplowy commented on #1
@D00Med so what should I do with tat (do I make new items or textures or code)

[2017-01-22 21:39] D00Med commented on #1
just new textures for whatever weird stuff you think they could carry

[2017-01-22 21:42] tobyplowy commented on #1
@D00Med This is a hard one

[2017-01-22 21:44] tobyplowy commented on #1
@D00Med I can't really think of anything

[2017-01-22 21:45] D00Med commented on #1
Like the gameboy

[2017-01-22 21:46] tobyplowy commented on #1
@D00Med I know But It's Hard to Come up with stuff

[2017-01-22 21:48] tobyplowy commented on #1
@D00Med Sorry for not being useful :/

[2017-01-22 21:49] D00Med commented on #1
Ok, that's alright, I was just thinking of whatever I could for you to do, since I don't really know what

[2017-01-22 21:50] tobyplowy commented on #1
@D00Med I dount know ether XD

[2017-01-25 21:47] D00Med commented on #3
The music is in! :D

[2017-01-27 06:47] D00Med commented on #1
I finished Ganon's new model.
There's only Bongo Bongo and the dodongos left now :D
Then I just have to keep adding dungeons and quests and I think it will be done

[2017-01-27 10:45] tobyplowy commented on #1
@D00Med nice!

[2017-01-31 08:40] D00Med commented on #1
Is there anything I've forgotten to add?
I think it's pretty much ready for the update now.

[2017-01-31 12:39] tobyplowy commented on #1
@D00Med I'm not sure (I can't test at the moment) If All mobs Have a new model Than Yes this is ready

[2017-01-31 20:24] D00Med commented on #1
All mobs apart from a few from mobs_animal

[2017-01-31 22:39] D00Med commented on #1
It has been updated

[2017-01-31 22:42] tobyplowy commented on #1
Yay!!!

[2017-02-01 01:47] D00Med commented on #1
Thanks again for all your help on this guys, you've really helped raise the quality of the game overall.

[2017-02-03 22:51] Wuzzy2 opened #9 "Using triforce gives missing texture error"
If you use the triforce, you get a missing texture error.
Tested in version 2.

[2017-02-03 22:53] Wuzzy2 opened #10 "Enchanting table does not work"
I can place a tool in the enchanting table but it does not accept rupees (neither red, blue, green or nyan) in the right slot.
Tested in version 2.

[2017-02-03 22:54] Wuzzy2 opened #11 "Overfull experience bar"
The experience bar (?) at the bottom can become overfull when using the triforce many times. It doesn't seem to ever end.

Tested in version 2.

[2017-02-03 22:56] Wuzzy2 opened #12 "“Orange Tulip” is purple"
The item “Orange Tulip” is actually purple.
Tested in version 2.

[2017-02-03 23:01] Wuzzy2 opened #13 "Artificial hive (xdecor) does not work"
I waited for a very long time after placing an artificial hive but it never produces honey.

This bug is inherited from `xdecor`:
https://github.com/minetest-mods/xdecor/issues/75

The game appears to have two hives anyway, I don't see the point. Maybe just removing the `xdecor` hive would be the simplest fix.

[2017-02-03 23:04] Wuzzy2 opened #14 "Many issues with crafting grid"
Recipes in the 2×2 crafting grid behave oddly.
Try to craft a torch. You can't just place a coal lump (C) and a stick (S) on top of each other.
Instead, you have to place it like this:

    C_
    _S

The recipe seems to be correct, because in the 3×3 grid, it works as expected.

I also noticed the same behaviour with other 1×2 recipes (like the torch).

There is another issue which allows the pla

[2017-02-03 23:10] D00Med commented on #12
Thankyou for pointing out this(and the other issues)

[2017-02-03 23:10] #12 closed

[2017-02-03 23:21] Wuzzy2 opened #15 "Bad or low-quality item names"
These are all actual item names:

* “doomshrooms_mushpick”
* “magicpowder”
* “seedsatchet(ember)” and similar: Missing space. Also, this is a very odd name. I would suggest something like “Seed Bag (Ember)”
* “Cave Crystal”: Identical name for 3 different items
* “Exotic”: should be “Exotic Fish” or somthing like this
* “tall mushroom 2” doesn't sound very creative ;-)

And in general, some item n

[2017-02-03 23:28] Wuzzy2 opened #16 "High digging time of pot"
The breakable pots (with rupees inside) have a high digging time, even a diamond pickaxe takes unusually long (much longer than stone).
Tested in version 2.

[2017-02-03 23:37] Wuzzy2 opened #17 "Mana bar is hidden by minimap"
When the minimap gets activated, the mana bar is completely hidden.

Tested in version 2.

[2017-02-03 23:42] Wuzzy2 opened #18 "Game completely screws up after using magic mirror"
If you use the magic mirror, the game just completely screws up:

First, it teleports you to a strange red biome (so far so good), but you spawn WAY above ground (it's a wonder you survive the drop).
But soon after you teleport, the place is quickly overpopulated with hundreds of mobs, and Minetest becomes really slow. I sometimes see that Minetest attempts to delete entities because of overcrowde

[2017-02-03 23:48] D00Med commented on #10
fixed (it uses nyan rupees)

[2017-02-03 23:48] #10 closed

[2017-02-03 23:48] Wuzzy2 opened #19 "Spawned bookshelves (and similar blocks) can be used"
Rightclicking on bookshelves (and other “usable” blocks) does not work if they have been placed by the mapgen. The player has first to dig, then place them again. After that, they can be rightclicked to access its inventory.
Tested in v2.

[2017-02-03 23:51] D00Med commented on #9
Fixed

[2017-02-03 23:51] #9 closed

[2017-02-03 23:51] D00Med commented on #11
I have attempted to fix this

[2017-02-03 23:51] Wuzzy2 opened #20 "Using eye of truth on gossip stone makes it change its shape"
If you use the eye of truth on the gossip stone, the gossip stone also slightly changes its shape (look at the top).

Tested in v2.

[2017-02-03 23:59] D00Med commented on #20
thanks again, it's fixed.
I'm going to go through and test everything soon

[2017-02-03 23:59] #20 closed

[2017-02-04 00:00] D00Med commented on #19
Hmm I know why it's happening, but I'm not sure I want to change it.

[2017-02-04 00:06] D00Med commented on #18
I fixed the mobs spawning.
I don't really know how to get around the player falling or being buried without checking a lot of nodes to see if they are safe

[2017-02-04 00:14] D00Med commented on #15
Ok I will work on fixing this.

[2017-02-04 00:15] D00Med commented on #14
Unfortunately it's a totally different shape to what it appears. I'm just going to get rid of it.
I find it annoying having to use the worktable anyway.

[2017-02-04 00:16] #14 closed

[2017-02-04 00:18] D00Med commented on #13
Did you have flowers near the hive? I've never had any trouble with it.
I will probably remove the hive from mobs_animal.

[2017-02-04 00:22] D00Med commented on #16
fixed, thanks for your patience with all my silly mistakes

[2017-02-04 00:22] #13 closed

[2017-02-04 00:32] D00Med commented on #17
fixed

[2017-02-04 00:32] #17 closed

[2017-02-04 15:47] Wuzzy2 commented on #13
OK, thanks.

[2017-02-04 15:48] Wuzzy2 commented on #14
Well, this is of course another way to solve the problem. ;-)
I don't mind getting rid of the work table.

[2017-02-12 23:39] ClaudiusMinimus opened #21 "Broken Fence Recipe"
The recipe for specific wood fences is broken on line 30 of: .minetest/games/LegendofMinetest/mods/default/nodes/fences.lua.

The fix is shown below, though you will want to clean it up.

[code]

[2017-02-13 01:09] D00Med commented on #21
How are the current recipes broken? they work fine for me

[2017-02-13 06:14] ClaudiusMinimus commented on #21
When I just your recipe, it conflicts with the gate recipe and there is no alternate, so it shows your fence recipe, but the output is a wood gate. The recipe I am showing is the standard one used.

[2017-02-13 06:28] D00Med commented on #21
What version are you using? it's working fine for me.

[2017-02-13 16:38] ClaudiusMinimus commented on #21
I am pulling from your git repo and I updated before I submitted this issue report.
Regarding MT: I use the flatpak release 0.4.15 and I also have the dev ppa for the daily build.

BTW: I am having a blast playing your sub-game! :+1:

[2017-02-13 17:07] ClaudiusMinimus opened #22 "Rain falls through slabs and slopes"
I created a house and used slopes and slabs on the roof. When it rains, the rain goes right through the slabs and slopes. I understand that both of these nodes are semi-transparent, but I have not experienced this issue before.

[2017-02-13 20:35] D00Med commented on #21
Ok, I'll have another look anyway.
That's great

[2017-03-02 13:05] tchncs opened #23 "Flying caveplants in subrosian caves"
Hi, i just noticed a bunch of caveflowers placed in the air by the subrosian cave generation:

![screenshot_20170302_135644](https://cloud.githubusercontent.com/assets/10698140/23508257/1c556478-ff51-11e6-96a9-c3c414aa911e.png)

[2017-03-02 20:24] D00Med commented on #23
It should be fixed now(I haven't actually tested yet). They won't spawn deeper than the start of subrosia/hell.
Thanks for pointing out the problem

[2017-03-05 08:55] verymilan commented on #23
Seems like a valid workaround 👍

[2017-03-05 08:55] #23 closed

[2017-03-05 08:58] verymilan commented on #23
Whups, there is still some stoneweed, hm?^^

[2017-03-05 09:10] D00Med commented on #23
Thanks, should be right now

[2017-04-25 20:14] tobyplowy commented on #1
@D00Med its been a while sinse i posted here

i whant to ask can you add the horse model from farlands to this game?

[2017-04-25 20:52] D00Med commented on #1
@tobyplowy  I don't want to add that horse model because of it's shape. I have a half-finished model that is more realistic

[2017-04-30 20:07] lhofhansl opened #24 "hyrule_mapgen:bongo_spawn cannot be crafted"
Looks like "bucket" was just misspelled (or changed recently) as "buckets"

[code]

[2017-04-30 21:13] D00Med commented on #24
Thankyou for pointing this out.

[2017-04-30 21:15] #24 closed

[2017-06-08 19:06] tobyplowy opened #25 "New update?"
@D00Med I think we should release a small update that fixes a couple of problems and adds a couple of features

Like particle glow
And maybe the climbing mechanic from breath of the wild

[2017-06-08 21:00] D00Med commented on #25
@tobyplowy That's a good idea, in fact I've already started on it.
I added some more foods(mostly for biomes without much food), and a boat yesterday, just haven't uploaded it yet.

[2017-06-09 13:02] tobyplowy commented on #25
@D00Med and what do you think about the climbing mechanic from breath of the wildl

[2017-06-09 21:27] D00Med commented on #25
@tobyplowy idk, how does it work?

[2017-06-09 21:34] tobyplowy commented on #25
@D00Med If you climb you have a stamina sircle (its a bar but it's round XD)  that depletes slowly and if it depletes completely you fall (and probably die depending On were You Fall and on what you Fall)

Just Google The Legend of Zelda Breath Of The Wild climbing Mechanic and search for a video I'm sure you're going to find it :)

[2017-06-09 21:36] D00Med commented on #25
@tobyplowy Ok then

[2017-06-09 21:37] D00Med commented on #25
@tobyplowy I looked up a list of all the new items in botw, I don't know whether to be pleased or annoyed.
So much work if I want to add them all xD

[2017-06-09 21:40] tobyplowy commented on #25
@D00Med Lol yeh

[2017-06-09 21:49] D00Med commented on #25
@tobyplowy only just now I found out that math.random() only works with whole numbers.
I've been using it with decimals for ages O.o

[2017-06-09 21:57] tobyplowy commented on #25
@D00Med no Idea what that means but that must suck!

[2017-06-09 21:58] D00Med commented on #25
@tobyplowy Yeah it does.

[2017-06-09 22:00] tobyplowy commented on #25
@D00Med are you going to add all the crafting items from breath of the wild?

[2017-06-09 22:05] tobyplowy commented on #25
@D00Med do you need help with textures for those?

[2017-06-09 22:08] D00Med commented on #25
@tobyplowy I'll certainly add some of them.
Hmm maybe. I don't think I'll work on that just yet anyway, I'd rather make more progress on farlands

[2017-06-09 22:10] tobyplowy commented on #25
@D00Med ok :)

[2017-07-11 13:55] tobyplowy commented on #4
@D00Med can you add the thing that makes it so the torch gives light if you hold it

Like you did in farlands a copple days ago

[2017-07-11 13:56] tobyplowy commented on #4
@D00Med the guy that does the letsplay vids that asked it https://youtu.be/L6n0oHibVWU

[2017-07-11 21:37] D00Med commented on #4
@tobyplowy Already done

[2017-07-11 21:37] D00Med commented on #4
;)

[2017-07-11 21:43] tobyplowy commented on #4
@D00Med ( ͡° ͜ʖ ͡°)

[2017-07-23 14:23] lhofhansl opened #26 "3d-amor models need to be updated after MT #6007"
See MT's [6007](https://github.com/minetest/minetest/pull/6007)

I have a PR for the 3d-armor models: [3d-armor #112](https://github.com/stujones11/minetest-3d_armor/pull/112)

[2017-07-23 22:12] D00Med commented on #26
Thanks

[2017-08-14 10:46] tobyplowy opened #27 "I found a few bugs and problems"
First is cuccos they don't seem to spawn but normal chickens do (also normal chickens shuld be removed)

Octorok projectiles don't hurt the player

[2017-08-14 10:49] D00Med commented on #27
@tobyplowy Were you wearing armour or a shield when you were attacked by the Octorock?

[2017-08-14 10:49] D00Med commented on #27
![](http://www.belfasttelegraph.co.uk/news/uk/article30902655.ece/ALTERNATES/h342/police.jpg)

[2017-08-14 10:58] tobyplowy commented on #27
@D00Med No I was watching a YouTube video You know that Guy that makes the legend of Minetest Let's Play vids he wears wooden armor i think

[2017-08-14 10:59] D00Med commented on #27
@tobyplowy Ok. I think armour blocks their attack very easily, I think I'll raise the damage and see if that fixes it

[2017-08-14 10:59] tobyplowy commented on #27
![stock-photo-confused-young-man-in-the-car-stopped-by-policeman-326490668](https://user-images.githubusercontent.com/16853304/29269174-76092498-80f0-11e7-935c-0d73072eaf22.jpg)

[2017-08-14 11:01] tobyplowy commented on #27
@D00Med Ok

[2017-08-14 11:06] D00Med commented on #27
@tobyplowy offtopic: I finished the firework changes.
Also it's late here, so I'm going now.

[2017-08-14 11:07] tobyplowy commented on #27
@D00Med Ok good and see you later

[2017-12-14 10:21] peppinoita opened #29 "Server crashes very often"
Hello everybody

I like this subgame, great works! I'm testing it Just for curiosity but the server crashes very often.

On the logs I have the following:

2017-12-14 03:45:06: ACTION[Server]: Giving initial stuff to player pablo
2017-12-14 03:45:06: ACTION[Server]: pablo [x.x.x.x] joins game.
2017-12-14 03:45:06: ACTION[Server]: pablo joins game. List of players: pablo
2017-12-14 03:45:06: ACTION

[2017-12-14 20:39] D00Med commented on #29
Thankyou for pointing this out.
It should be fine now

[2017-12-14 20:42] #29 closed

[2017-12-30 20:23] drakovyrn opened #30 "Game crashes when using saddle"
Hi, I've been playing your subgame with my girlfriend, and noticed that there were horses (presumably from kpgmobs?), and when I tried to put a saddle on one, it crashed the game. I noticed that there were actually two different saddles, though they looked the same. Maybe they just have different IDs? Well the first one "works" (at least until using it crashes the game), but the other one does not

[2017-12-30 21:22] D00Med commented on #30
Should be fixed now, there is only one kind of saddle, the ocarina should work, and I updated the horse to use the new vehicles functions (so no more crashing hopefully).

[2017-12-30 21:22] #30 closed

[2018-06-18 03:58] #26 closed

[2018-06-18 04:01] #27 closed

[2018-06-28 19:59] jcfrosty opened #37 "Something different with a random call?"
2018-06-28 15:35:46: ERROR[Main]: ServerError: AsyncErr: ServerThread::run Lua: Runtime error from mod 'mobs_loz' in callback luaentity_Punch(): ...games/LegendofMinetest-master/mods/mobs_redo/api.lua:338: bad argument #2 to 'random' (interval is empty)
2018-06-28 15:35:46: ERROR[Main]: stack traceback:
2018-06-28 15:35:46: ERROR[Main]:   [C]: in function 'random'
2018-06-28 15:35:46: ERROR[Main]:

[2018-06-28 20:07] jcfrosty opened #38 "Server sent wrong hud hotbar image (sent value: 'gui_hotbar.png')"
Server sent wrong hud hotbar image (sent value: 'gui_hotbar.png')
Server sent wrong hud hotbar selected image (sent value: 'gui_hotbar_selected
![20180627_190750](https://user-images.githubusercontent.com/13701401/42058102-f055c42e-7ae4-11e8-89af-55984b1aadfa.jpg)
.png')

[2018-06-28 21:23] D00Med commented on #38
idk why this happens in 0.4.17, it's very odd. But it's fixed in the update branch, which will hopefully be merged soon.

[2018-06-28 21:26] D00Med commented on #37
Ooh this is a tricky one, I'll try updating mobs_redo and seeing what happens

[2018-07-05 20:41] jcfrosty commented on #37
forgive me if I seem impatient, I really do appreciate the work, but I am curious what the issue is. I'm starting to feel I need to learn lua more lol. My programming skills are very introductory..

[2018-07-05 21:27] D00Med commented on #37
I don't know what the issue is :/
That's why I'm just going to try updating mobs_redo.
But I just had an idea, maybe you're right and it is from a random number.
It could be because of something to do with the drop chance of items.
What were you doing when you got this error?

[2018-07-05 21:28] D00Med commented on #37
And about your programming skills, mine aren't exactly great either 😅

[2018-07-05 21:51] jcfrosty commented on #37
It happens when I attempted to launch the game.

On Thu, Jul 5, 2018 at 4:28 PM D00Med <notifications@github.com> wrote:

[2018-07-05 21:57] D00Med commented on #37
Oh :/

[2018-07-07 06:05] jcfrosty commented on #37
OK, I've tested Regnum-3.2.9 . Not sure I understand the point of that game, but OK. It only had one issue with the music loading mod, after i removed that one plugin, Game ran smooth, no other issues.

I figured it could be my version of lua so I upgraded to 5.3.3 from 5.1, no change.
So I tried recompiling and installing minetest 4.7.1, no change.

All the errors I get are the same errors no mat

[2018-07-07 06:26] D00Med commented on #37
Oh :/ that's a shame.

[2018-07-07 06:33] D00Med commented on #37
![thing](https://user-images.githubusercontent.com/19916704/42407629-5388da70-8203-11e8-8d58-33caac22f84b.PNG)
I'm thinking the error has something to do with this.
It's pretty frustrating, if other people are getting these errors it's going to seriously mess with situations where the min/max numbers are variable

[2018-07-07 06:43] D00Med commented on #37
I fixed the error in the update branch, but the update branch also now has the incomplete villages I'm working on. Just so you know.

[2018-07-07 14:48] jcfrosty commented on #37
Greatly appreciated! My son is driving me nuts to play this game so I'm
trying to setup a local server for just him and me.

On Sat, Jul 7, 2018, 1:43 AM D00Med <notifications@github.com> wrote:

[2021-08-28 23:54] programmerjake opened #40 "port to minetest 5.x"
It would be nice to be able to play this on modern versions of minetest

[2021-08-29 11:01] D00Med commented on #40
I no longer work on this project (or any of my github projects).
But as nice as it would be to have a new version, it might be better for this particular project not to be revived, since it's a fangame.

[2022-01-03 19:07] kveroneau commented on #40
While yes, it's technically a fangame, it is not using any actual assets from the actual games, nor is it trying to recreate any of the games.  I feel this mod falls under "Fair Use".  I'm honestly still surprised that Zelda Classic is still kicking, as they remade the original game, and are using assets from the original game as well.  So, not all fangames get hit by the big N.  I recently recrea

[2022-01-03 20:45] D00Med commented on #40
Even so, it will never be able to be promoted in the same way other games are (eg: linked from the minetest website).

[2022-01-25 13:13] mckaygerhard commented on #40
hi @D00Med  what happened with this #39  ? you are owner now! i have plans to do some update fixeds before porting to 5.X (i mean still made playable in 0.4 before fixed for 5.X) but i need the pull request to be merged!

i also port your dmobs fixed  and up to dated with some commits and changed namespaced to mobs_doomed.. please write here if you can checks pending merges to start to work with t

[2022-01-25 21:58] D00Med commented on #40
I don't know...I guess this was the last thing I worked on before I gave up working on minetest things.
I will merge the pull request. After that, you could fork the project so you can have full control.

[2022-01-26 13:46] mckaygerhard commented on #40
i will only provide easy to review pull request to you.. i want to avoid forking control due is duplication of work.. its better to continue the work so others can help too, thanks @D00Med

[2022-01-26 20:12] programmerjake commented on #40
@D00Med if you want to have someone officially take over this project, you can transfer the repo to their account, or to a github organization, which will make github redirect to the new repo location anytime someone uses a link to the old repo or accesses the repo using git commands, as well as keeping all the issues and pull requests and other history.

https://docs.github.com/en/repositories/cr

[2022-01-26 21:32] D00Med commented on #40
-_- Sounds like a lot of effort and work for something I stopped working on 4 years ago.

I can add people as contributors so they can merge PR's on their own (or blindly merge them myself). But if someone makes a fork, my original work is preserved and available for others to fork off if they don't like the newer forks.

[2022-01-26 21:33] D00Med commented on #40
Pretty sure it is Minetest tradition to palm everyone off with "make your own fork"

[2022-01-26 21:48] mckaygerhard commented on #40
your idea sound good but we need two reviewers, currently there'0s only one person in interest.. so i proposed this as @D00Med  said:

the idea of PR contributions, and i always preserved the original main master branch of original work.. as the minenux repos demostrates,  in your idea, i will mantain a main master focused on estability until completely works stable (currently i started in my fork

[2022-01-28 15:21] mckaygerhard commented on #25
the pull #39 was merge.. this issue must be close to start to port to 5.0.1 and to start to be stable in 0.4.17, thanks in advance (lest remenber only port and stability for now)

[2022-01-28 15:22] mckaygerhard commented on #22
the pull #39 was merge.. this issue must be checked @ClaudiusMinimus }..  and if there's no response must be close to start to port to 5.0.1 and to start to be stable in 0.4.17, thanks in advance @D00Med  (lest remember only port and stability for now)

[2022-01-28 15:27] mckaygerhard commented on #22
tested and it seems works and if you put in some way of course will be ..  closed plese @D00Med if there's no reply

![screenshot_20220128_112647](https://user-images.githubusercontent.com/1571724/151574196-cf4f8ef0-33ff-47e6-b4d2-b49d13f96618.png)

[2022-01-28 15:42] mckaygerhard commented on #21
@ClaudiusMinimus  the pull #39 was merge.. this issue  was deprecated cos now the recipe is moved and defined at default/functions.lua line [https://github.com/D00Med/LegendofMinetest/blob/cae7b83341ef44b2d9c85930d2b7e49396163952/mods/default/functions.lua#L256](https://github.com/D00Med/LegendofMinetest/blob/cae7b83341ef44b2d9c85930d2b7e49396163952/mods/default/functions.lua#L256)  and is corrrec

[2022-01-28 15:54] mckaygerhard commented on #19
ok confirmed this bug..

i am at the level 13 of the tower and only the bookshelf that i put its working..

**i guess that is cos some items must be activated by others items**.. so to solve this i need your help @D00Med  cos i am not so good to lua as i think.. it seems we need to tested the in game after mapgen generation.. i tested with v7 mapgen

[2022-01-28 16:30] mckaygerhard commented on #18
i tested after the pull #39 was merge.. **all the issues about overpopulated spawn was solved..** so this issue must be closed ..  **but now i cannot find any mob there so this issue must generated a new one**

**after some research the issue is a slow map generation that's all**, the mirror definition tries to guess the layer and assumed its under 21000 but try the 21500 is ok and if there's no g

[2022-01-28 16:31] mckaygerhard commented on #16
due is solved.. this issue must be closed @D00Med  thanks in advance

[2022-01-28 16:34] mckaygerhard opened #41 "[bug] no mobs generation in hell and no good texture blocks"
after the fix for #18 now ther's no mobs generation

[2022-01-28 16:35] mckaygerhard opened #42 "[feat] no good textures to hell"
maybe we must change the textures of the hell blocks to something like the nether blocks, more deep related to hell, the current ones are so rose!

[2022-01-28 16:53] mckaygerhard commented on #15
✅ seems SOLVED as Mushpick in doomshrooms

📛 PENDING ISSUES: i canot find nay item like this, i only found a reference in xdecor/cooking.lua so maybe was changed or has missing things.. @D00Med  i need more information cos browsing the commits was a mess

✅ SOLVED

✅ SOLVED at hyrule_mapgen/nodes.lua with pull #39

✅ SOLVED at fishing/fishes.lua with pull #39 but we have a little miscpelled at  fi

[2022-01-28 17:09] mckaygerhard commented on #11
this issue was fixed it seems since the merge of the pull #39 so must be closed @D00Med  thanks in advance, i tested and cofirmed fixed

![screenshot_20220128_130820](https://user-images.githubusercontent.com/1571724/151590960-565cdc26-742a-464c-9c33-a15bc567e64e.png)

[2022-01-28 17:52] mckaygerhard commented on #6
confirmed.. i hold a sword of wood, use the crystal and later when letf the crystal still are in the hand.. i dont have knowledge to fix this.. @D00Med  unless you provided me some hints, must be marked as bug and heeds help wanted

[2022-01-29 10:56] #16 closed

[2022-01-29 10:57] #18 closed

[2022-01-29 10:58] Wuzzy2 commented on #19
The reason is probably because VoxelManip doesn't call `on_construct` when generating the nodes. Thus, nodes that do stuff like setting metadata in this function must have their metadata manually set when they were placed via VoxelManip.

[2022-01-29 21:15] #25 closed

[2022-01-29 21:17] D00Med commented on #42
![image](https://user-images.githubusercontent.com/19916704/151677800-b049b223-3973-4da2-b4a3-562e4c2529a7.png)
It is based off this part of Oracle of Seasons, since hell does not feature in the series.

[2022-01-29 21:19] D00Med commented on #41
Possibly fixed by updating mobs_redo?

Pretty sure it does, for crafting and the energy for tools

[2022-01-29 21:24] D00Med commented on #19
I remember looking into this, but never found a solution that was within my ability. Maybe it could be fixed with a LBM?

[2022-01-29 21:26] D00Med commented on #15
Seed satchet is a typo: https://zelda.fandom.com/wiki/Seed_Satchel

[2022-01-29 21:26] #11 closed

[2022-01-29 21:29] #21 closed

[2022-01-29 21:34] D00Med commented on #6
Setting player models and (or?) collision boxes changed in v 5.0 iirc, so this should have other problems.
I do not know how to fix it.

[2022-01-29 21:35] D00Med commented on #40
You want to be added as a contributor then?

[2022-01-30 14:17] mckaygerhard commented on #42
umm now understadn..  ummm ok the generation is too much of
![Captura de pantalla de 2022-01-30 10-14-44](https://user-images.githubusercontent.com/1571724/151703464-b8586e48-fb4d-483c-bd9d-ccac41c3d634.png)  maybe we need morte of
![Captura de pantalla de 2022-01-30 10-14-56](https://user-images.githubusercontent.com/1571724/151703469-e0427e54-d0cf-4b9b-9849-c08cead83b22.png) .. but is not the pr

[2022-01-30 14:19] mckaygerhard commented on #41
**sorry but as i said in #18  i already do that! so must be other thing ..** i need to check the history.. with your hell (yeah i only take a look but still not deep to the git history)

[2022-01-30 14:20] mckaygerhard commented on #19
hi @Wuzzy2  it seems you have more skill for that, please can you give us a hand? or almost hints to .. i m not the best xpert to map generation

[2022-01-30 14:37] mckaygerhard commented on #15
was more easy you give the item name.. i sear5ched for a hour in the code.. `hyruletools:seed_satchel` well .. curently it said "seed bad" .. so the description is pending .. and we must check the rest of item one by one..  if there's a problem are minors like the model has missing the logo and the description is pending..  but this issue mus be let opened and we must changed the title to "[task]

[2022-01-30 14:38] mckaygerhard commented on #15
was more easy you give the item name.. i sear5ched for a hour in the code.. hyruletools:seed_satchel well .. curently it said "seed bad" .. so the description is pending .. and we must check the rest of item one by one.. if there's a problem are minors like the model has missing the logo and the description is pending.. but this issue mus be let opened and we must changed the title to "[task] item

[2022-01-30 14:50] mckaygerhard commented on #6
it's not about 5.X @D00Med  .. lest remenbered that the deal is first stable for 0.4 and LATER FOR 0.5 so currently i dont care 5.X until i can bet the stability of the rest of bugs.. BUT: **neither is a problem like this.. i noted that when i quit the Twilight Crystal entity or kills the entity the player the model updates .** so maybe a missing callback or something i still does not understand a

[2022-01-30 15:05] mckaygerhard commented on #40
hi @D00Med  yes.. with possibility to manage the issue but i ask :

* there's a possibilty to you that always review all the pull request i made it, or any other so? i know maybe you dont have anymore the game in situ but at leas to review the description and code in general ..

if there's no possiblity to, then i need PR permissions and issues organization permissions with:

* my deal is first to

[2022-01-30 21:03] D00Med commented on #15
Are you referring to the item models? They aren't supposed to have descriptions or readable names, since they are placed with code (iirc).

[2022-01-30 21:13] D00Med commented on #40
That is fine, I only ask that you don't change textures or names (apart from correcting typos).

There's a few things you've mentioned now which are not really 'bugs' but are actually intended behaviour.
For example, the armour cannot be worn in creative, because the player doesn't need it. If you disable creative, you can wear armour. This is how the original armour mod works.
Similarly, the item

[2022-01-30 21:20] D00Med commented on #41
I had a look at the code for a few mods, I can't find any problems :S

[2022-01-30 21:20] D00Med commented on #41
Have you checked your game settings?

[2022-01-30 21:26] D00Med commented on #6
https://github.com/D00Med/LegendofMinetest/blob/master/mods/twilight/init.lua

Looking at this, I'm not sure how there can still be a problem, all of the model changing code is commented out.

[2022-01-31 21:13] mckaygerhard commented on #41
still not yet so deep.. i m trying to understand minetest default game api map generation.. i will check an ancient git comit and check where its the changed code.. after that i will post the feedback here

[2022-01-31 21:17] mckaygerhard opened #43 "[task] 3d armor code check and possible update"
as doomed said:

ok i guessed from the beggining XD so then i must have checks for when i try to upgrade or updated the 3d armor mod (either for current game engine 0.4.X or when we ported to 5.X due 5.X will need a forced 3d armor upgrade)

so 3darmor is a pending task

[2022-01-31 21:21] mckaygerhard opened #44 "[task] documettation minimal of the repository game"
due the nature of the repo.. the game must have a minimal documentation.. so make this simbolic issue to handle it! (i will fill later)

[2022-01-31 21:29] mckaygerhard commented on #40
i will then focused in this repo for the next 2 years.. and inclusivelly try to release a public server for..

- [X] i never change textures.. neither names.. so that's why #42 i reconiced that you said.. and posted that is not priority.. so i will close that!
- [X]  3d armor marked as new task due _canot be worm in creative_ so when we ported to 5.X we need to check behaviour.. so moved to #43
-

[2022-01-31 21:35] mckaygerhard commented on #15
umm so then that item is good to be named "Seed bad" even "Seed satchet" ok good so if author are happy .. then since pull #39  this issue are done..

but i dont know if the item in hyruletools must have right descriptions. (as i guess, the seed satchet is a copy of the seed bad so we must change or not or defined that description that already exists?.. ) if not.. then close this issue.. but then

[2022-02-02 01:42] D00Med commented on #41
Do check your game settings, you might have mobs disabled by accident. It's happened to me before.

[2022-02-02 01:46] D00Med commented on #15
No no, I'm sorry. That's an ok correction. I just mean that things like the 3d models shouldn't have descriptions if they don't have them already.

Not sure what you mean.

[2022-02-02 01:47] D00Med commented on #40
Thankyou so much for your interest in this.
What you've said makes sense and makes a good roadmap.

[2022-02-02 13:55] mckaygerhard commented on #37
this was fixed since PR #39 was merged with commit 5e4e39e  commit 5e4e39e and    commit acf7cd2

[2022-02-02 13:55] #37 closed

[2022-02-02 13:57] #22 closed

[2022-02-02 13:57] mckaygerhard commented on #22
already fixed since pr #39 and this behaviour happened if slabs are thin or have holes

[2022-02-02 13:59] #4 closed

[2022-02-02 14:03] mckaygerhard commented on #38
fixed since PR #39  was merged, so closing this.. please only open a new pull request or reopen this with justifications and patches

![screenshot_20220202_100331](https://user-images.githubusercontent.com/1571724/152168732-8982e4e5-0d68-49d1-845f-a674fd915091.png)

[2022-02-02 14:04] #38 closed

[2022-02-02 14:06] mckaygerhard commented on #1
all the textures and models will be remained in stalled untill almost 50% or stabilty and migration are done.. so staled this issue as symbolic and close

[2022-02-02 14:08] mckaygerhard commented on #41
no is not disabled. but i will give a try next weekend more deeply... i upgrades some mobs related mods

[2022-02-02 21:41] D00Med commented on #41
ah ok. Good luck

[2022-02-18 01:26] mckaygerhard commented on #43
well 3d_armor canot be update. . i will updated by hand by porting fixed..

for 5.X must change api calls.. this are due the nature of the game and hcanges made

[2022-03-10 17:27] mckaygerhard commented on #3
so was done! als o 2018 ws merged!

[2022-03-10 17:27] #3 closed

[2022-03-10 17:42] mckaygerhard commented on #40
Hi @D00Med  i was pretty busy.. also foudn that you dedicated so many time and skills to the game.. the 3darmor.. the specific mods made for the game and the modified derived ones are so hard to follow withoyut a good OBJ OOP and knowledge of minetest..

now i know how to made a mod and found lof of bugs already .. also .. noted the usage of new and older apis.. work with some developers of some m

[2022-03-10 17:49] mckaygerhard commented on #40
Hi @D00Med i was pretty busy.. also foudn that you dedicated so many time and skills to the game.. the 3darmor.. the specific mods made for the game and the modified derived ones are so hard to follow withoyut a good OBJ OOP and knowledge of minetest..

now i know how to made a mod and found lof of bugs already .. also .. noted the usage of new and older apis.. work with some developers of some mo

[2022-03-10 17:58] mckaygerhard commented on #40
@programmerjake  after a time i was able to port some mods and there's 3 version to care.. :

1. from 5.0 there's a player api slipted from default mod
2. from 5.3 the creative check is from a mod with a engine check api
3. from 5.4 there's a new way to access some new callbacks and api calls

i has all the new changes to 5.0 to 5.3 releases but for callbacks chages to 5.4 will demand more time..

[2022-06-21 16:59] hacknorris-aka-penguin opened #45 "[bug] quartz sound must be table not just string of the file, for neweer engines"
bug :

![Przechwycenie obrazu ekranu_2022-06-21_18-55-59](https://user-images.githubusercontent.com/97974194/174856104-ca4f3fd3-300c-45a5-aeec-f17010035a09.png)

o.O

[debug.txt](https://github.com/D00Med/LegendofMinetest/files/8950925/debug.txt)

[2022-06-21 17:19] mckaygerhard commented on #45
the  5.5 changes a lot the api.. poikilos already talk about the constants changes at https://poikilos.org/2020/05/09/minetest-scope-issue/ i am able to run "LOM" until 5.2 only... for 5.4 and 5.5  some time will pass.. i currently study the defaults mod changes to provide backported changes..

.. so about the error `quarzt` .. a mineral.. at `register_slab("quartzstair", "quartz:pillar",` sound m

[2022-06-21 18:50] hacknorris-code commented on #45
ok.
yes i "emulated" USING W.I.N.E. lool

[2022-07-21 14:32] #45 closed

[2022-07-21 17:24] mckaygerhard opened #47 "[bug] Unknown node: fire:basic_flame for MT5 engine"
Working on this.. from tenplush1 mods..  seems a missing alias..  will be fixed later

[code]

[2022-07-21 17:28] mckaygerhard opened #48 "[bug] assertion failed from auth - no mor trace - MT 0.4"
This has no reason or more traces.. we are in further investigations.. possible to that game **only will work with 0.4.17** (no 0.4.15 compatible way) **and 5.2 only**

[code]

[2022-07-21 17:37] mckaygerhard commented on #47
ok this was since commit 1f800ff58330c4dde9c1e5b43cfed2f9c5fbe0a9 of mobs redo..  so now it depends on fire due circunvent dependency problem :

* https://github.com/minetest/minetest/issues/3330
* https://github.com/minetest/minetest/pull/11438
* https://github.com/minetest/minetest/issues/12217

[2022-07-21 18:01] mckaygerhard opened #49 "[bug] Undeclared global variable "hyrule_weather" from twilight"
[code]

[2022-07-21 18:12] mckaygerhard commented on #47
upstream reported https://notabug.org/TenPlus1/mobs_redo/issues/118

[2022-07-21 18:17] #47 closed

[2022-07-21 18:19] mckaygerhard opened #50 "[doc] upgrade README to then gain more collaborators"
upgrade README to then gain more collaborators, part of #44

[2022-07-21 19:19] mckaygerhard commented on #49
ok the weater mod hyrule_weather has a conditional.. that its seems check the weater flag and i dont know why auto set to false..

[2022-07-21 19:37] #49 closed

[2022-07-21 20:01] mckaygerhard commented on #48
is a problem in high optimizations over the  luajit package from minenux build at https://build.opensuse.org/package/show/home:venenux:minenux/luajit

after reinstall older version there's no problem over 0.4.15, 0.4.16 or 0.4.17

so close this

[2022-07-21 20:01] #48 closed

[2022-07-21 20:04] mckaygerhard commented on #41
ok i can fin any debug for .. cos i not raised the hell yet.. due the check of mana in player on the mirror magic item definition, and second, after some code search i find that the layer is the "hell" generated by hyrule_mapgen and hell mods so there's then two missing depends: mana and hell.. after this i have a idea, defined a big lava fall that covers the area and if player is not enough fast

[2022-07-21 20:09] mckaygerhard commented on #6
possible related to #49  already fixed..  i 'll check the references to model and updates later.. for now its working, i'll change the code to the suggestion on https://github.com/D00Med/LegendofMinetest/issues/6#issuecomment-1025159309 to remain compatible

[2022-07-21 21:53] mckaygerhard commented on #50
the mod of fire was feaured with fake flame in commit https://github.com/D00Med/LegendofMinetest/commit/c3c91d0e8b5d493194184a53033ca1830adb32ee but was not pointed in the changelog. this is some of the mistakes we must avoid , updated in https://github.com/D00Med/LegendofMinetest/commit/43c522c47149f4584769861fd1c27dccf6234cb0 i will do a document for contribution guidelines later

[2022-07-21 21:53] #50 closed

[2022-07-21 21:54] mckaygerhard opened #51 "[task] define contribution and guidelines"
REASON:

the mod of fire was feaured with fake flame in commit https://github.com/D00Med/LegendofMinetest/commit/c3c91d0e8b5d493194184a53033ca1830adb32ee but was not pointed in the changelog. this is some of the mistakes we must avoid , updated in https://github.com/D00Med/LegendofMinetest/commit/43c522c47149f4584769861fd1c27dccf6234cb0 i will do a document for contribution guidelines later

of co